// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-12-0-block-name: 'sp-i-12-0-block';
$sp-i-12-0-block-x: 232px;
$sp-i-12-0-block-y: 63px;
$sp-i-12-0-block-offset-x: -232px;
$sp-i-12-0-block-offset-y: -63px;
$sp-i-12-0-block-width: 72px;
$sp-i-12-0-block-height: 58px;
$sp-i-12-0-block-total-width: 395px;
$sp-i-12-0-block-total-height: 358px;
$sp-i-12-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-0-block: (232px, 63px, -232px, -63px, 72px, 58px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-0-block', );
$sp-i-12-1-block-name: 'sp-i-12-1-block';
$sp-i-12-1-block-x: 310px;
$sp-i-12-1-block-y: 247px;
$sp-i-12-1-block-offset-x: -310px;
$sp-i-12-1-block-offset-y: -247px;
$sp-i-12-1-block-width: 55px;
$sp-i-12-1-block-height: 57px;
$sp-i-12-1-block-total-width: 395px;
$sp-i-12-1-block-total-height: 358px;
$sp-i-12-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-1-block: (310px, 247px, -310px, -247px, 55px, 57px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-1-block', );
$sp-i-12-2-block-name: 'sp-i-12-2-block';
$sp-i-12-2-block-x: 133px;
$sp-i-12-2-block-y: 0px;
$sp-i-12-2-block-offset-x: -133px;
$sp-i-12-2-block-offset-y: 0px;
$sp-i-12-2-block-width: 94px;
$sp-i-12-2-block-height: 58px;
$sp-i-12-2-block-total-width: 395px;
$sp-i-12-2-block-total-height: 358px;
$sp-i-12-2-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-2-block: (133px, 0px, -133px, 0px, 94px, 58px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-2-block', );
$sp-i-12-3-block-name: 'sp-i-12-3-block';
$sp-i-12-3-block-x: 0px;
$sp-i-12-3-block-y: 61px;
$sp-i-12-3-block-offset-x: 0px;
$sp-i-12-3-block-offset-y: -61px;
$sp-i-12-3-block-width: 97px;
$sp-i-12-3-block-height: 63px;
$sp-i-12-3-block-total-width: 395px;
$sp-i-12-3-block-total-height: 358px;
$sp-i-12-3-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-3-block: (0px, 61px, 0px, -61px, 97px, 63px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-3-block', );
$sp-i-12-4-block-name: 'sp-i-12-4-block';
$sp-i-12-4-block-x: 160px;
$sp-i-12-4-block-y: 129px;
$sp-i-12-4-block-offset-x: -160px;
$sp-i-12-4-block-offset-y: -129px;
$sp-i-12-4-block-width: 60px;
$sp-i-12-4-block-height: 56px;
$sp-i-12-4-block-total-width: 395px;
$sp-i-12-4-block-total-height: 358px;
$sp-i-12-4-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-4-block: (160px, 129px, -160px, -129px, 60px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-4-block', );
$sp-i-12-5-block-name: 'sp-i-12-5-block';
$sp-i-12-5-block-x: 310px;
$sp-i-12-5-block-y: 0px;
$sp-i-12-5-block-offset-x: -310px;
$sp-i-12-5-block-offset-y: 0px;
$sp-i-12-5-block-width: 57px;
$sp-i-12-5-block-height: 59px;
$sp-i-12-5-block-total-width: 395px;
$sp-i-12-5-block-total-height: 358px;
$sp-i-12-5-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-5-block: (310px, 0px, -310px, 0px, 57px, 59px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-5-block', );
$sp-i-12-6-block-name: 'sp-i-12-6-block';
$sp-i-12-6-block-x: 0px;
$sp-i-12-6-block-y: 0px;
$sp-i-12-6-block-offset-x: 0px;
$sp-i-12-6-block-offset-y: 0px;
$sp-i-12-6-block-width: 128px;
$sp-i-12-6-block-height: 56px;
$sp-i-12-6-block-total-width: 395px;
$sp-i-12-6-block-total-height: 358px;
$sp-i-12-6-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-6-block: (0px, 0px, 0px, 0px, 128px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-6-block', );
$sp-i-12-7-block-name: 'sp-i-12-7-block';
$sp-i-12-7-block-x: 194px;
$sp-i-12-7-block-y: 247px;
$sp-i-12-7-block-offset-x: -194px;
$sp-i-12-7-block-offset-y: -247px;
$sp-i-12-7-block-width: 58px;
$sp-i-12-7-block-height: 55px;
$sp-i-12-7-block-total-width: 395px;
$sp-i-12-7-block-total-height: 358px;
$sp-i-12-7-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-7-block: (194px, 247px, -194px, -247px, 58px, 55px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-7-block', );
$sp-i-12-8-block-name: 'sp-i-12-8-block';
$sp-i-12-8-block-x: 232px;
$sp-i-12-8-block-y: 126px;
$sp-i-12-8-block-offset-x: -232px;
$sp-i-12-8-block-offset-y: -126px;
$sp-i-12-8-block-width: 73px;
$sp-i-12-8-block-height: 57px;
$sp-i-12-8-block-total-width: 395px;
$sp-i-12-8-block-total-height: 358px;
$sp-i-12-8-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-8-block: (232px, 126px, -232px, -126px, 73px, 57px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-8-block', );
$sp-i-12-9-block-name: 'sp-i-12-9-block';
$sp-i-12-9-block-x: 232px;
$sp-i-12-9-block-y: 0px;
$sp-i-12-9-block-offset-x: -232px;
$sp-i-12-9-block-offset-y: 0px;
$sp-i-12-9-block-width: 73px;
$sp-i-12-9-block-height: 58px;
$sp-i-12-9-block-total-width: 395px;
$sp-i-12-9-block-total-height: 358px;
$sp-i-12-9-block-image: '../image/sprite_AKENORI1.png';
$sp-i-12-9-block: (232px, 0px, -232px, 0px, 73px, 58px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-12-9-block', );
$sp-i-2-1-block-name: 'sp-i-2-1-block';
$sp-i-2-1-block-x: 310px;
$sp-i-2-1-block-y: 186px;
$sp-i-2-1-block-offset-x: -310px;
$sp-i-2-1-block-offset-y: -186px;
$sp-i-2-1-block-width: 56px;
$sp-i-2-1-block-height: 56px;
$sp-i-2-1-block-total-width: 395px;
$sp-i-2-1-block-total-height: 358px;
$sp-i-2-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-2-1-block: (310px, 186px, -310px, -186px, 56px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-2-1-block', );
$sp-i-2-2-block-name: 'sp-i-2-2-block';
$sp-i-2-2-block-x: 63px;
$sp-i-2-2-block-y: 247px;
$sp-i-2-2-block-offset-x: -63px;
$sp-i-2-2-block-offset-y: -247px;
$sp-i-2-2-block-width: 60px;
$sp-i-2-2-block-height: 56px;
$sp-i-2-2-block-total-width: 395px;
$sp-i-2-2-block-total-height: 358px;
$sp-i-2-2-block-image: '../image/sprite_AKENORI1.png';
$sp-i-2-2-block: (63px, 247px, -63px, -247px, 60px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-2-2-block', );
$sp-i-2-3-block-name: 'sp-i-2-3-block';
$sp-i-2-3-block-x: 0px;
$sp-i-2-3-block-y: 190px;
$sp-i-2-3-block-offset-x: 0px;
$sp-i-2-3-block-offset-y: -190px;
$sp-i-2-3-block-width: 79px;
$sp-i-2-3-block-height: 52px;
$sp-i-2-3-block-total-width: 395px;
$sp-i-2-3-block-total-height: 358px;
$sp-i-2-3-block-image: '../image/sprite_AKENORI1.png';
$sp-i-2-3-block: (0px, 190px, 0px, -190px, 79px, 52px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-2-3-block', );
$sp-i-4-0-block-name: 'sp-i-4-0-block';
$sp-i-4-0-block-x: 0px;
$sp-i-4-0-block-y: 247px;
$sp-i-4-0-block-offset-x: 0px;
$sp-i-4-0-block-offset-y: -247px;
$sp-i-4-0-block-width: 58px;
$sp-i-4-0-block-height: 58px;
$sp-i-4-0-block-total-width: 395px;
$sp-i-4-0-block-total-height: 358px;
$sp-i-4-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-0-block: (0px, 247px, 0px, -247px, 58px, 58px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-4-0-block', );
$sp-i-4-1-block-name: 'sp-i-4-1-block';
$sp-i-4-1-block-x: 81px;
$sp-i-4-1-block-y: 129px;
$sp-i-4-1-block-offset-x: -81px;
$sp-i-4-1-block-offset-y: -129px;
$sp-i-4-1-block-width: 74px;
$sp-i-4-1-block-height: 56px;
$sp-i-4-1-block-total-width: 395px;
$sp-i-4-1-block-total-height: 358px;
$sp-i-4-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-1-block: (81px, 129px, -81px, -129px, 74px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-4-1-block', );
$sp-i-4-2-block-name: 'sp-i-4-2-block';
$sp-i-4-2-block-x: 0px;
$sp-i-4-2-block-y: 129px;
$sp-i-4-2-block-offset-x: 0px;
$sp-i-4-2-block-offset-y: -129px;
$sp-i-4-2-block-width: 76px;
$sp-i-4-2-block-height: 56px;
$sp-i-4-2-block-total-width: 395px;
$sp-i-4-2-block-total-height: 358px;
$sp-i-4-2-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-2-block: (0px, 129px, 0px, -129px, 76px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-4-2-block', );
$sp-i-4-3-block-name: 'sp-i-4-3-block';
$sp-i-4-3-block-x: 310px;
$sp-i-4-3-block-y: 64px;
$sp-i-4-3-block-offset-x: -310px;
$sp-i-4-3-block-offset-y: -64px;
$sp-i-4-3-block-width: 56px;
$sp-i-4-3-block-height: 56px;
$sp-i-4-3-block-total-width: 395px;
$sp-i-4-3-block-total-height: 358px;
$sp-i-4-3-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-3-block: (310px, 64px, -310px, -64px, 56px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-4-3-block', );
$sp-i-7-0-block-name: 'sp-i-7-0-block';
$sp-i-7-0-block-x: 128px;
$sp-i-7-0-block-y: 247px;
$sp-i-7-0-block-offset-x: -128px;
$sp-i-7-0-block-offset-y: -247px;
$sp-i-7-0-block-width: 61px;
$sp-i-7-0-block-height: 55px;
$sp-i-7-0-block-total-width: 395px;
$sp-i-7-0-block-total-height: 358px;
$sp-i-7-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-7-0-block: (128px, 247px, -128px, -247px, 61px, 55px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-7-0-block', );
$sp-i-7-1-block-name: 'sp-i-7-1-block';
$sp-i-7-1-block-x: 133px;
$sp-i-7-1-block-y: 63px;
$sp-i-7-1-block-offset-x: -133px;
$sp-i-7-1-block-offset-y: -63px;
$sp-i-7-1-block-width: 71px;
$sp-i-7-1-block-height: 61px;
$sp-i-7-1-block-total-width: 395px;
$sp-i-7-1-block-total-height: 358px;
$sp-i-7-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-7-1-block: (133px, 63px, -133px, -63px, 71px, 61px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-7-1-block', );
$sp-i-7-2-block-name: 'sp-i-7-2-block';
$sp-i-7-2-block-x: 310px;
$sp-i-7-2-block-y: 125px;
$sp-i-7-2-block-offset-x: -310px;
$sp-i-7-2-block-offset-y: -125px;
$sp-i-7-2-block-width: 56px;
$sp-i-7-2-block-height: 56px;
$sp-i-7-2-block-total-width: 395px;
$sp-i-7-2-block-total-height: 358px;
$sp-i-7-2-block-image: '../image/sprite_AKENORI1.png';
$sp-i-7-2-block: (310px, 125px, -310px, -125px, 56px, 56px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-7-2-block', );
$sp-i-8-0-block-name: 'sp-i-8-0-block';
$sp-i-8-0-block-x: 0px;
$sp-i-8-0-block-y: 310px;
$sp-i-8-0-block-offset-x: 0px;
$sp-i-8-0-block-offset-y: -310px;
$sp-i-8-0-block-width: 37px;
$sp-i-8-0-block-height: 48px;
$sp-i-8-0-block-total-width: 395px;
$sp-i-8-0-block-total-height: 358px;
$sp-i-8-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-8-0-block: (0px, 310px, 0px, -310px, 37px, 48px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-8-0-block', );
$sp-i-8-1-block-name: 'sp-i-8-1-block';
$sp-i-8-1-block-x: 257px;
$sp-i-8-1-block-y: 247px;
$sp-i-8-1-block-offset-x: -257px;
$sp-i-8-1-block-offset-y: -247px;
$sp-i-8-1-block-width: 40px;
$sp-i-8-1-block-height: 48px;
$sp-i-8-1-block-total-width: 395px;
$sp-i-8-1-block-total-height: 358px;
$sp-i-8-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-8-1-block: (257px, 247px, -257px, -247px, 40px, 48px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-8-1-block', );
$sp-i-9-0-block-name: 'sp-i-9-0-block';
$sp-i-9-0-block-x: 372px;
$sp-i-9-0-block-y: 132px;
$sp-i-9-0-block-offset-x: -372px;
$sp-i-9-0-block-offset-y: -132px;
$sp-i-9-0-block-width: 13px;
$sp-i-9-0-block-height: 30px;
$sp-i-9-0-block-total-width: 395px;
$sp-i-9-0-block-total-height: 358px;
$sp-i-9-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-9-0-block: (372px, 132px, -372px, -132px, 13px, 30px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-9-0-block', );
$sp-i-9-1-block-name: 'sp-i-9-1-block';
$sp-i-9-1-block-x: 372px;
$sp-i-9-1-block-y: 96px;
$sp-i-9-1-block-offset-x: -372px;
$sp-i-9-1-block-offset-y: -96px;
$sp-i-9-1-block-width: 13px;
$sp-i-9-1-block-height: 31px;
$sp-i-9-1-block-total-width: 395px;
$sp-i-9-1-block-total-height: 358px;
$sp-i-9-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-9-1-block: (372px, 96px, -372px, -96px, 13px, 31px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-9-1-block', );
$sp-i-btn-arr-h-name: 'sp-i-btn-arr-h';
$sp-i-btn-arr-h-x: 372px;
$sp-i-btn-arr-h-y: 185px;
$sp-i-btn-arr-h-offset-x: -372px;
$sp-i-btn-arr-h-offset-y: -185px;
$sp-i-btn-arr-h-width: 13px;
$sp-i-btn-arr-h-height: 20px;
$sp-i-btn-arr-h-total-width: 395px;
$sp-i-btn-arr-h-total-height: 358px;
$sp-i-btn-arr-h-image: '../image/sprite_AKENORI1.png';
$sp-i-btn-arr-h: (372px, 185px, -372px, -185px, 13px, 20px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-btn-arr-h', );
$sp-i-btn-arrow-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-x: 372px;
$sp-i-btn-arrow-y: 210px;
$sp-i-btn-arrow-offset-x: -372px;
$sp-i-btn-arrow-offset-y: -210px;
$sp-i-btn-arrow-width: 13px;
$sp-i-btn-arrow-height: 20px;
$sp-i-btn-arrow-total-width: 395px;
$sp-i-btn-arrow-total-height: 358px;
$sp-i-btn-arrow-image: '../image/sprite_AKENORI1.png';
$sp-i-btn-arrow: (372px, 210px, -372px, -210px, 13px, 20px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-btn-arrow', );
$sp-i-delivery-name: 'sp-i-delivery';
$sp-i-delivery-x: 84px;
$sp-i-delivery-y: 190px;
$sp-i-delivery-offset-x: -84px;
$sp-i-delivery-offset-y: -190px;
$sp-i-delivery-width: 75px;
$sp-i-delivery-height: 46px;
$sp-i-delivery-total-width: 395px;
$sp-i-delivery-total-height: 358px;
$sp-i-delivery-image: '../image/sprite_AKENORI1.png';
$sp-i-delivery: (84px, 190px, -84px, -190px, 75px, 46px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-delivery', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 372px;
$sp-i-fb-y: 235px;
$sp-i-fb-offset-x: -372px;
$sp-i-fb-offset-y: -235px;
$sp-i-fb-width: 8px;
$sp-i-fb-height: 18px;
$sp-i-fb-total-width: 395px;
$sp-i-fb-total-height: 358px;
$sp-i-fb-image: '../image/sprite_AKENORI1.png';
$sp-i-fb: (372px, 235px, -372px, -235px, 8px, 18px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-fb', );
$sp-i-header-arr-name: 'sp-i-header-arr';
$sp-i-header-arr-x: 42px;
$sp-i-header-arr-y: 310px;
$sp-i-header-arr-offset-x: -42px;
$sp-i-header-arr-offset-y: -310px;
$sp-i-header-arr-width: 31px;
$sp-i-header-arr-height: 36px;
$sp-i-header-arr-total-width: 395px;
$sp-i-header-arr-total-height: 358px;
$sp-i-header-arr-image: '../image/sprite_AKENORI1.png';
$sp-i-header-arr: (42px, 310px, -42px, -310px, 31px, 36px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-header-arr', );
$sp-i-next-mobile-name: 'sp-i-next-mobile';
$sp-i-next-mobile-x: 102px;
$sp-i-next-mobile-y: 61px;
$sp-i-next-mobile-offset-x: -102px;
$sp-i-next-mobile-offset-y: -61px;
$sp-i-next-mobile-width: 23px;
$sp-i-next-mobile-height: 54px;
$sp-i-next-mobile-total-width: 395px;
$sp-i-next-mobile-total-height: 358px;
$sp-i-next-mobile-image: '../image/sprite_AKENORI1.png';
$sp-i-next-mobile: (102px, 61px, -102px, -61px, 23px, 54px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-next-mobile', );
$sp-i-prev-mobile-name: 'sp-i-prev-mobile';
$sp-i-prev-mobile-x: 372px;
$sp-i-prev-mobile-y: 0px;
$sp-i-prev-mobile-offset-x: -372px;
$sp-i-prev-mobile-offset-y: 0px;
$sp-i-prev-mobile-width: 23px;
$sp-i-prev-mobile-height: 54px;
$sp-i-prev-mobile-total-width: 395px;
$sp-i-prev-mobile-total-height: 358px;
$sp-i-prev-mobile-image: '../image/sprite_AKENORI1.png';
$sp-i-prev-mobile: (372px, 0px, -372px, 0px, 23px, 54px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-prev-mobile', );
$sp-i-price-small-name: 'sp-i-price-small';
$sp-i-price-small-x: 385px;
$sp-i-price-small-y: 235px;
$sp-i-price-small-offset-x: -385px;
$sp-i-price-small-offset-y: -235px;
$sp-i-price-small-width: 10px;
$sp-i-price-small-height: 14px;
$sp-i-price-small-total-width: 395px;
$sp-i-price-small-total-height: 358px;
$sp-i-price-small-image: '../image/sprite_AKENORI1.png';
$sp-i-price-small: (385px, 235px, -385px, -235px, 10px, 14px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-price-small', );
$sp-i-price-name: 'sp-i-price';
$sp-i-price-x: 372px;
$sp-i-price-y: 59px;
$sp-i-price-offset-x: -372px;
$sp-i-price-offset-y: -59px;
$sp-i-price-width: 23px;
$sp-i-price-height: 32px;
$sp-i-price-total-width: 395px;
$sp-i-price-total-height: 358px;
$sp-i-price-image: '../image/sprite_AKENORI1.png';
$sp-i-price: (372px, 59px, -372px, -59px, 23px, 32px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-price', );
$sp-i-special-device-name: 'sp-i-special-device';
$sp-i-special-device-x: 164px;
$sp-i-special-device-y: 190px;
$sp-i-special-device-offset-x: -164px;
$sp-i-special-device-offset-y: -190px;
$sp-i-special-device-width: 39px;
$sp-i-special-device-height: 29px;
$sp-i-special-device-total-width: 395px;
$sp-i-special-device-total-height: 358px;
$sp-i-special-device-image: '../image/sprite_AKENORI1.png';
$sp-i-special-device: (164px, 190px, -164px, -190px, 39px, 29px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-special-device', );
$sp-i-vk-name: 'sp-i-vk';
$sp-i-vk-x: 372px;
$sp-i-vk-y: 167px;
$sp-i-vk-offset-x: -372px;
$sp-i-vk-offset-y: -167px;
$sp-i-vk-width: 22px;
$sp-i-vk-height: 13px;
$sp-i-vk-total-width: 395px;
$sp-i-vk-total-height: 358px;
$sp-i-vk-image: '../image/sprite_AKENORI1.png';
$sp-i-vk: (372px, 167px, -372px, -167px, 22px, 13px, 395px, 358px, '../image/sprite_AKENORI1.png', 'sp-i-vk', );
$sp-i-12-0-block-2x-name: 'sp-i-12-0-block@2x';
$sp-i-12-0-block-2x-x: 464px;
$sp-i-12-0-block-2x-y: 126px;
$sp-i-12-0-block-2x-offset-x: -464px;
$sp-i-12-0-block-2x-offset-y: -126px;
$sp-i-12-0-block-2x-width: 144px;
$sp-i-12-0-block-2x-height: 116px;
$sp-i-12-0-block-2x-total-width: 790px;
$sp-i-12-0-block-2x-total-height: 716px;
$sp-i-12-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-0-block-2x: (464px, 126px, -464px, -126px, 144px, 116px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-0-block@2x', );
$sp-i-12-1-block-2x-name: 'sp-i-12-1-block@2x';
$sp-i-12-1-block-2x-x: 620px;
$sp-i-12-1-block-2x-y: 494px;
$sp-i-12-1-block-2x-offset-x: -620px;
$sp-i-12-1-block-2x-offset-y: -494px;
$sp-i-12-1-block-2x-width: 110px;
$sp-i-12-1-block-2x-height: 114px;
$sp-i-12-1-block-2x-total-width: 790px;
$sp-i-12-1-block-2x-total-height: 716px;
$sp-i-12-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-1-block-2x: (620px, 494px, -620px, -494px, 110px, 114px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-1-block@2x', );
$sp-i-12-2-block-2x-name: 'sp-i-12-2-block@2x';
$sp-i-12-2-block-2x-x: 266px;
$sp-i-12-2-block-2x-y: 0px;
$sp-i-12-2-block-2x-offset-x: -266px;
$sp-i-12-2-block-2x-offset-y: 0px;
$sp-i-12-2-block-2x-width: 188px;
$sp-i-12-2-block-2x-height: 116px;
$sp-i-12-2-block-2x-total-width: 790px;
$sp-i-12-2-block-2x-total-height: 716px;
$sp-i-12-2-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-2-block-2x: (266px, 0px, -266px, 0px, 188px, 116px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-2-block@2x', );
$sp-i-12-3-block-2x-name: 'sp-i-12-3-block@2x';
$sp-i-12-3-block-2x-x: 0px;
$sp-i-12-3-block-2x-y: 122px;
$sp-i-12-3-block-2x-offset-x: 0px;
$sp-i-12-3-block-2x-offset-y: -122px;
$sp-i-12-3-block-2x-width: 194px;
$sp-i-12-3-block-2x-height: 126px;
$sp-i-12-3-block-2x-total-width: 790px;
$sp-i-12-3-block-2x-total-height: 716px;
$sp-i-12-3-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-3-block-2x: (0px, 122px, 0px, -122px, 194px, 126px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-3-block@2x', );
$sp-i-12-4-block-2x-name: 'sp-i-12-4-block@2x';
$sp-i-12-4-block-2x-x: 320px;
$sp-i-12-4-block-2x-y: 258px;
$sp-i-12-4-block-2x-offset-x: -320px;
$sp-i-12-4-block-2x-offset-y: -258px;
$sp-i-12-4-block-2x-width: 120px;
$sp-i-12-4-block-2x-height: 112px;
$sp-i-12-4-block-2x-total-width: 790px;
$sp-i-12-4-block-2x-total-height: 716px;
$sp-i-12-4-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-4-block-2x: (320px, 258px, -320px, -258px, 120px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-4-block@2x', );
$sp-i-12-5-block-2x-name: 'sp-i-12-5-block@2x';
$sp-i-12-5-block-2x-x: 620px;
$sp-i-12-5-block-2x-y: 0px;
$sp-i-12-5-block-2x-offset-x: -620px;
$sp-i-12-5-block-2x-offset-y: 0px;
$sp-i-12-5-block-2x-width: 114px;
$sp-i-12-5-block-2x-height: 118px;
$sp-i-12-5-block-2x-total-width: 790px;
$sp-i-12-5-block-2x-total-height: 716px;
$sp-i-12-5-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-5-block-2x: (620px, 0px, -620px, 0px, 114px, 118px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-5-block@2x', );
$sp-i-12-6-block-2x-name: 'sp-i-12-6-block@2x';
$sp-i-12-6-block-2x-x: 0px;
$sp-i-12-6-block-2x-y: 0px;
$sp-i-12-6-block-2x-offset-x: 0px;
$sp-i-12-6-block-2x-offset-y: 0px;
$sp-i-12-6-block-2x-width: 256px;
$sp-i-12-6-block-2x-height: 112px;
$sp-i-12-6-block-2x-total-width: 790px;
$sp-i-12-6-block-2x-total-height: 716px;
$sp-i-12-6-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-6-block-2x: (0px, 0px, 0px, 0px, 256px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-6-block@2x', );
$sp-i-12-7-block-2x-name: 'sp-i-12-7-block@2x';
$sp-i-12-7-block-2x-x: 388px;
$sp-i-12-7-block-2x-y: 494px;
$sp-i-12-7-block-2x-offset-x: -388px;
$sp-i-12-7-block-2x-offset-y: -494px;
$sp-i-12-7-block-2x-width: 116px;
$sp-i-12-7-block-2x-height: 110px;
$sp-i-12-7-block-2x-total-width: 790px;
$sp-i-12-7-block-2x-total-height: 716px;
$sp-i-12-7-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-7-block-2x: (388px, 494px, -388px, -494px, 116px, 110px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-7-block@2x', );
$sp-i-12-8-block-2x-name: 'sp-i-12-8-block@2x';
$sp-i-12-8-block-2x-x: 464px;
$sp-i-12-8-block-2x-y: 252px;
$sp-i-12-8-block-2x-offset-x: -464px;
$sp-i-12-8-block-2x-offset-y: -252px;
$sp-i-12-8-block-2x-width: 146px;
$sp-i-12-8-block-2x-height: 114px;
$sp-i-12-8-block-2x-total-width: 790px;
$sp-i-12-8-block-2x-total-height: 716px;
$sp-i-12-8-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-8-block-2x: (464px, 252px, -464px, -252px, 146px, 114px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-8-block@2x', );
$sp-i-12-9-block-2x-name: 'sp-i-12-9-block@2x';
$sp-i-12-9-block-2x-x: 464px;
$sp-i-12-9-block-2x-y: 0px;
$sp-i-12-9-block-2x-offset-x: -464px;
$sp-i-12-9-block-2x-offset-y: 0px;
$sp-i-12-9-block-2x-width: 146px;
$sp-i-12-9-block-2x-height: 116px;
$sp-i-12-9-block-2x-total-width: 790px;
$sp-i-12-9-block-2x-total-height: 716px;
$sp-i-12-9-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-12-9-block-2x: (464px, 0px, -464px, 0px, 146px, 116px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-12-9-block@2x', );
$sp-i-2-1-block-2x-name: 'sp-i-2-1-block@2x';
$sp-i-2-1-block-2x-x: 620px;
$sp-i-2-1-block-2x-y: 372px;
$sp-i-2-1-block-2x-offset-x: -620px;
$sp-i-2-1-block-2x-offset-y: -372px;
$sp-i-2-1-block-2x-width: 112px;
$sp-i-2-1-block-2x-height: 112px;
$sp-i-2-1-block-2x-total-width: 790px;
$sp-i-2-1-block-2x-total-height: 716px;
$sp-i-2-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-2-1-block-2x: (620px, 372px, -620px, -372px, 112px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-2-1-block@2x', );
$sp-i-2-2-block-2x-name: 'sp-i-2-2-block@2x';
$sp-i-2-2-block-2x-x: 126px;
$sp-i-2-2-block-2x-y: 494px;
$sp-i-2-2-block-2x-offset-x: -126px;
$sp-i-2-2-block-2x-offset-y: -494px;
$sp-i-2-2-block-2x-width: 120px;
$sp-i-2-2-block-2x-height: 112px;
$sp-i-2-2-block-2x-total-width: 790px;
$sp-i-2-2-block-2x-total-height: 716px;
$sp-i-2-2-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-2-2-block-2x: (126px, 494px, -126px, -494px, 120px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-2-2-block@2x', );
$sp-i-2-3-block-2x-name: 'sp-i-2-3-block@2x';
$sp-i-2-3-block-2x-x: 0px;
$sp-i-2-3-block-2x-y: 380px;
$sp-i-2-3-block-2x-offset-x: 0px;
$sp-i-2-3-block-2x-offset-y: -380px;
$sp-i-2-3-block-2x-width: 158px;
$sp-i-2-3-block-2x-height: 104px;
$sp-i-2-3-block-2x-total-width: 790px;
$sp-i-2-3-block-2x-total-height: 716px;
$sp-i-2-3-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-2-3-block-2x: (0px, 380px, 0px, -380px, 158px, 104px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-2-3-block@2x', );
$sp-i-4-0-block-2x-name: 'sp-i-4-0-block@2x';
$sp-i-4-0-block-2x-x: 0px;
$sp-i-4-0-block-2x-y: 494px;
$sp-i-4-0-block-2x-offset-x: 0px;
$sp-i-4-0-block-2x-offset-y: -494px;
$sp-i-4-0-block-2x-width: 116px;
$sp-i-4-0-block-2x-height: 116px;
$sp-i-4-0-block-2x-total-width: 790px;
$sp-i-4-0-block-2x-total-height: 716px;
$sp-i-4-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-0-block-2x: (0px, 494px, 0px, -494px, 116px, 116px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-0-block@2x', );
$sp-i-4-1-block-2x-name: 'sp-i-4-1-block@2x';
$sp-i-4-1-block-2x-x: 162px;
$sp-i-4-1-block-2x-y: 258px;
$sp-i-4-1-block-2x-offset-x: -162px;
$sp-i-4-1-block-2x-offset-y: -258px;
$sp-i-4-1-block-2x-width: 148px;
$sp-i-4-1-block-2x-height: 112px;
$sp-i-4-1-block-2x-total-width: 790px;
$sp-i-4-1-block-2x-total-height: 716px;
$sp-i-4-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-1-block-2x: (162px, 258px, -162px, -258px, 148px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-1-block@2x', );
$sp-i-4-2-block-2x-name: 'sp-i-4-2-block@2x';
$sp-i-4-2-block-2x-x: 0px;
$sp-i-4-2-block-2x-y: 258px;
$sp-i-4-2-block-2x-offset-x: 0px;
$sp-i-4-2-block-2x-offset-y: -258px;
$sp-i-4-2-block-2x-width: 152px;
$sp-i-4-2-block-2x-height: 112px;
$sp-i-4-2-block-2x-total-width: 790px;
$sp-i-4-2-block-2x-total-height: 716px;
$sp-i-4-2-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-2-block-2x: (0px, 258px, 0px, -258px, 152px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-2-block@2x', );
$sp-i-4-3-block-2x-name: 'sp-i-4-3-block@2x';
$sp-i-4-3-block-2x-x: 620px;
$sp-i-4-3-block-2x-y: 128px;
$sp-i-4-3-block-2x-offset-x: -620px;
$sp-i-4-3-block-2x-offset-y: -128px;
$sp-i-4-3-block-2x-width: 112px;
$sp-i-4-3-block-2x-height: 112px;
$sp-i-4-3-block-2x-total-width: 790px;
$sp-i-4-3-block-2x-total-height: 716px;
$sp-i-4-3-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-3-block-2x: (620px, 128px, -620px, -128px, 112px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-3-block@2x', );
$sp-i-7-0-block-2x-name: 'sp-i-7-0-block@2x';
$sp-i-7-0-block-2x-x: 256px;
$sp-i-7-0-block-2x-y: 494px;
$sp-i-7-0-block-2x-offset-x: -256px;
$sp-i-7-0-block-2x-offset-y: -494px;
$sp-i-7-0-block-2x-width: 122px;
$sp-i-7-0-block-2x-height: 110px;
$sp-i-7-0-block-2x-total-width: 790px;
$sp-i-7-0-block-2x-total-height: 716px;
$sp-i-7-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-7-0-block-2x: (256px, 494px, -256px, -494px, 122px, 110px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-7-0-block@2x', );
$sp-i-7-1-block-2x-name: 'sp-i-7-1-block@2x';
$sp-i-7-1-block-2x-x: 266px;
$sp-i-7-1-block-2x-y: 126px;
$sp-i-7-1-block-2x-offset-x: -266px;
$sp-i-7-1-block-2x-offset-y: -126px;
$sp-i-7-1-block-2x-width: 142px;
$sp-i-7-1-block-2x-height: 122px;
$sp-i-7-1-block-2x-total-width: 790px;
$sp-i-7-1-block-2x-total-height: 716px;
$sp-i-7-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-7-1-block-2x: (266px, 126px, -266px, -126px, 142px, 122px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-7-1-block@2x', );
$sp-i-7-2-block-2x-name: 'sp-i-7-2-block@2x';
$sp-i-7-2-block-2x-x: 620px;
$sp-i-7-2-block-2x-y: 250px;
$sp-i-7-2-block-2x-offset-x: -620px;
$sp-i-7-2-block-2x-offset-y: -250px;
$sp-i-7-2-block-2x-width: 112px;
$sp-i-7-2-block-2x-height: 112px;
$sp-i-7-2-block-2x-total-width: 790px;
$sp-i-7-2-block-2x-total-height: 716px;
$sp-i-7-2-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-7-2-block-2x: (620px, 250px, -620px, -250px, 112px, 112px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-7-2-block@2x', );
$sp-i-8-0-block-2x-name: 'sp-i-8-0-block@2x';
$sp-i-8-0-block-2x-x: 0px;
$sp-i-8-0-block-2x-y: 620px;
$sp-i-8-0-block-2x-offset-x: 0px;
$sp-i-8-0-block-2x-offset-y: -620px;
$sp-i-8-0-block-2x-width: 74px;
$sp-i-8-0-block-2x-height: 96px;
$sp-i-8-0-block-2x-total-width: 790px;
$sp-i-8-0-block-2x-total-height: 716px;
$sp-i-8-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-8-0-block-2x: (0px, 620px, 0px, -620px, 74px, 96px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-8-0-block@2x', );
$sp-i-8-1-block-2x-name: 'sp-i-8-1-block@2x';
$sp-i-8-1-block-2x-x: 514px;
$sp-i-8-1-block-2x-y: 494px;
$sp-i-8-1-block-2x-offset-x: -514px;
$sp-i-8-1-block-2x-offset-y: -494px;
$sp-i-8-1-block-2x-width: 80px;
$sp-i-8-1-block-2x-height: 96px;
$sp-i-8-1-block-2x-total-width: 790px;
$sp-i-8-1-block-2x-total-height: 716px;
$sp-i-8-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-8-1-block-2x: (514px, 494px, -514px, -494px, 80px, 96px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-8-1-block@2x', );
$sp-i-9-0-block-2x-name: 'sp-i-9-0-block@2x';
$sp-i-9-0-block-2x-x: 744px;
$sp-i-9-0-block-2x-y: 264px;
$sp-i-9-0-block-2x-offset-x: -744px;
$sp-i-9-0-block-2x-offset-y: -264px;
$sp-i-9-0-block-2x-width: 26px;
$sp-i-9-0-block-2x-height: 60px;
$sp-i-9-0-block-2x-total-width: 790px;
$sp-i-9-0-block-2x-total-height: 716px;
$sp-i-9-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-9-0-block-2x: (744px, 264px, -744px, -264px, 26px, 60px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-9-0-block@2x', );
$sp-i-9-1-block-2x-name: 'sp-i-9-1-block@2x';
$sp-i-9-1-block-2x-x: 744px;
$sp-i-9-1-block-2x-y: 192px;
$sp-i-9-1-block-2x-offset-x: -744px;
$sp-i-9-1-block-2x-offset-y: -192px;
$sp-i-9-1-block-2x-width: 26px;
$sp-i-9-1-block-2x-height: 62px;
$sp-i-9-1-block-2x-total-width: 790px;
$sp-i-9-1-block-2x-total-height: 716px;
$sp-i-9-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-9-1-block-2x: (744px, 192px, -744px, -192px, 26px, 62px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-9-1-block@2x', );
$sp-i-btn-arr-h-2x-name: 'sp-i-btn-arr-h@2x';
$sp-i-btn-arr-h-2x-x: 744px;
$sp-i-btn-arr-h-2x-y: 370px;
$sp-i-btn-arr-h-2x-offset-x: -744px;
$sp-i-btn-arr-h-2x-offset-y: -370px;
$sp-i-btn-arr-h-2x-width: 26px;
$sp-i-btn-arr-h-2x-height: 40px;
$sp-i-btn-arr-h-2x-total-width: 790px;
$sp-i-btn-arr-h-2x-total-height: 716px;
$sp-i-btn-arr-h-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-btn-arr-h-2x: (744px, 370px, -744px, -370px, 26px, 40px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-btn-arr-h@2x', );
$sp-i-btn-arrow-2x-name: 'sp-i-btn-arrow@2x';
$sp-i-btn-arrow-2x-x: 744px;
$sp-i-btn-arrow-2x-y: 420px;
$sp-i-btn-arrow-2x-offset-x: -744px;
$sp-i-btn-arrow-2x-offset-y: -420px;
$sp-i-btn-arrow-2x-width: 26px;
$sp-i-btn-arrow-2x-height: 40px;
$sp-i-btn-arrow-2x-total-width: 790px;
$sp-i-btn-arrow-2x-total-height: 716px;
$sp-i-btn-arrow-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-btn-arrow-2x: (744px, 420px, -744px, -420px, 26px, 40px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-btn-arrow@2x', );
$sp-i-delivery-2x-name: 'sp-i-delivery@2x';
$sp-i-delivery-2x-x: 168px;
$sp-i-delivery-2x-y: 380px;
$sp-i-delivery-2x-offset-x: -168px;
$sp-i-delivery-2x-offset-y: -380px;
$sp-i-delivery-2x-width: 150px;
$sp-i-delivery-2x-height: 92px;
$sp-i-delivery-2x-total-width: 790px;
$sp-i-delivery-2x-total-height: 716px;
$sp-i-delivery-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-delivery-2x: (168px, 380px, -168px, -380px, 150px, 92px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-delivery@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 744px;
$sp-i-fb-2x-y: 470px;
$sp-i-fb-2x-offset-x: -744px;
$sp-i-fb-2x-offset-y: -470px;
$sp-i-fb-2x-width: 16px;
$sp-i-fb-2x-height: 36px;
$sp-i-fb-2x-total-width: 790px;
$sp-i-fb-2x-total-height: 716px;
$sp-i-fb-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-fb-2x: (744px, 470px, -744px, -470px, 16px, 36px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-fb@2x', );
$sp-i-header-arr-2x-name: 'sp-i-header-arr@2x';
$sp-i-header-arr-2x-x: 84px;
$sp-i-header-arr-2x-y: 620px;
$sp-i-header-arr-2x-offset-x: -84px;
$sp-i-header-arr-2x-offset-y: -620px;
$sp-i-header-arr-2x-width: 62px;
$sp-i-header-arr-2x-height: 72px;
$sp-i-header-arr-2x-total-width: 790px;
$sp-i-header-arr-2x-total-height: 716px;
$sp-i-header-arr-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-header-arr-2x: (84px, 620px, -84px, -620px, 62px, 72px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-header-arr@2x', );
$sp-i-next-mobile-2x-name: 'sp-i-next-mobile@2x';
$sp-i-next-mobile-2x-x: 204px;
$sp-i-next-mobile-2x-y: 122px;
$sp-i-next-mobile-2x-offset-x: -204px;
$sp-i-next-mobile-2x-offset-y: -122px;
$sp-i-next-mobile-2x-width: 46px;
$sp-i-next-mobile-2x-height: 108px;
$sp-i-next-mobile-2x-total-width: 790px;
$sp-i-next-mobile-2x-total-height: 716px;
$sp-i-next-mobile-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-next-mobile-2x: (204px, 122px, -204px, -122px, 46px, 108px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-next-mobile@2x', );
$sp-i-prev-mobile-2x-name: 'sp-i-prev-mobile@2x';
$sp-i-prev-mobile-2x-x: 744px;
$sp-i-prev-mobile-2x-y: 0px;
$sp-i-prev-mobile-2x-offset-x: -744px;
$sp-i-prev-mobile-2x-offset-y: 0px;
$sp-i-prev-mobile-2x-width: 46px;
$sp-i-prev-mobile-2x-height: 108px;
$sp-i-prev-mobile-2x-total-width: 790px;
$sp-i-prev-mobile-2x-total-height: 716px;
$sp-i-prev-mobile-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-prev-mobile-2x: (744px, 0px, -744px, 0px, 46px, 108px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-prev-mobile@2x', );
$sp-i-price-small-2x-name: 'sp-i-price-small@2x';
$sp-i-price-small-2x-x: 770px;
$sp-i-price-small-2x-y: 470px;
$sp-i-price-small-2x-offset-x: -770px;
$sp-i-price-small-2x-offset-y: -470px;
$sp-i-price-small-2x-width: 20px;
$sp-i-price-small-2x-height: 28px;
$sp-i-price-small-2x-total-width: 790px;
$sp-i-price-small-2x-total-height: 716px;
$sp-i-price-small-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-price-small-2x: (770px, 470px, -770px, -470px, 20px, 28px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-price-small@2x', );
$sp-i-price-2x-name: 'sp-i-price@2x';
$sp-i-price-2x-x: 744px;
$sp-i-price-2x-y: 118px;
$sp-i-price-2x-offset-x: -744px;
$sp-i-price-2x-offset-y: -118px;
$sp-i-price-2x-width: 46px;
$sp-i-price-2x-height: 64px;
$sp-i-price-2x-total-width: 790px;
$sp-i-price-2x-total-height: 716px;
$sp-i-price-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-price-2x: (744px, 118px, -744px, -118px, 46px, 64px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-price@2x', );
$sp-i-special-device-2x-name: 'sp-i-special-device@2x';
$sp-i-special-device-2x-x: 328px;
$sp-i-special-device-2x-y: 380px;
$sp-i-special-device-2x-offset-x: -328px;
$sp-i-special-device-2x-offset-y: -380px;
$sp-i-special-device-2x-width: 78px;
$sp-i-special-device-2x-height: 58px;
$sp-i-special-device-2x-total-width: 790px;
$sp-i-special-device-2x-total-height: 716px;
$sp-i-special-device-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-special-device-2x: (328px, 380px, -328px, -380px, 78px, 58px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-special-device@2x', );
$sp-i-vk-2x-name: 'sp-i-vk@2x';
$sp-i-vk-2x-x: 744px;
$sp-i-vk-2x-y: 334px;
$sp-i-vk-2x-offset-x: -744px;
$sp-i-vk-2x-offset-y: -334px;
$sp-i-vk-2x-width: 44px;
$sp-i-vk-2x-height: 26px;
$sp-i-vk-2x-total-width: 790px;
$sp-i-vk-2x-total-height: 716px;
$sp-i-vk-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-vk-2x: (744px, 334px, -744px, -334px, 44px, 26px, 790px, 716px, '../image/sprite_AKENORI1@2x.png', 'sp-i-vk@2x', );
$spritesheet-width: 395px;
$spritesheet-height: 358px;
$spritesheet-image: '../image/sprite_AKENORI1.png';
$spritesheet-sprites: ($sp-i-12-0-block, $sp-i-12-1-block, $sp-i-12-2-block, $sp-i-12-3-block, $sp-i-12-4-block, $sp-i-12-5-block, $sp-i-12-6-block, $sp-i-12-7-block, $sp-i-12-8-block, $sp-i-12-9-block, $sp-i-2-1-block, $sp-i-2-2-block, $sp-i-2-3-block, $sp-i-4-0-block, $sp-i-4-1-block, $sp-i-4-2-block, $sp-i-4-3-block, $sp-i-7-0-block, $sp-i-7-1-block, $sp-i-7-2-block, $sp-i-8-0-block, $sp-i-8-1-block, $sp-i-9-0-block, $sp-i-9-1-block, $sp-i-btn-arr-h, $sp-i-btn-arrow, $sp-i-delivery, $sp-i-fb, $sp-i-header-arr, $sp-i-next-mobile, $sp-i-prev-mobile, $sp-i-price-small, $sp-i-price, $sp-i-special-device, $sp-i-vk, );
$spritesheet: (395px, 358px, '../image/sprite_AKENORI1.png', $spritesheet-sprites, );
$retina-spritesheet-width: 790px;
$retina-spritesheet-height: 716px;
$retina-spritesheet-image: '../image/sprite_AKENORI1@2x.png';
$retina-spritesheet-sprites: ($sp-i-12-0-block-2x, $sp-i-12-1-block-2x, $sp-i-12-2-block-2x, $sp-i-12-3-block-2x, $sp-i-12-4-block-2x, $sp-i-12-5-block-2x, $sp-i-12-6-block-2x, $sp-i-12-7-block-2x, $sp-i-12-8-block-2x, $sp-i-12-9-block-2x, $sp-i-2-1-block-2x, $sp-i-2-2-block-2x, $sp-i-2-3-block-2x, $sp-i-4-0-block-2x, $sp-i-4-1-block-2x, $sp-i-4-2-block-2x, $sp-i-4-3-block-2x, $sp-i-7-0-block-2x, $sp-i-7-1-block-2x, $sp-i-7-2-block-2x, $sp-i-8-0-block-2x, $sp-i-8-1-block-2x, $sp-i-9-0-block-2x, $sp-i-9-1-block-2x, $sp-i-btn-arr-h-2x, $sp-i-btn-arrow-2x, $sp-i-delivery-2x, $sp-i-fb-2x, $sp-i-header-arr-2x, $sp-i-next-mobile-2x, $sp-i-prev-mobile-2x, $sp-i-price-small-2x, $sp-i-price-2x, $sp-i-special-device-2x, $sp-i-vk-2x, );
$retina-spritesheet: (790px, 716px, '../image/sprite_AKENORI1@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-12-0-block-group-name: 'sp-i-12-0-block';
$sp-i-12-0-block-group: ('sp-i-12-0-block', $sp-i-12-0-block, $sp-i-12-0-block-2x, );
$sp-i-12-1-block-group-name: 'sp-i-12-1-block';
$sp-i-12-1-block-group: ('sp-i-12-1-block', $sp-i-12-1-block, $sp-i-12-1-block-2x, );
$sp-i-12-2-block-group-name: 'sp-i-12-2-block';
$sp-i-12-2-block-group: ('sp-i-12-2-block', $sp-i-12-2-block, $sp-i-12-2-block-2x, );
$sp-i-12-3-block-group-name: 'sp-i-12-3-block';
$sp-i-12-3-block-group: ('sp-i-12-3-block', $sp-i-12-3-block, $sp-i-12-3-block-2x, );
$sp-i-12-4-block-group-name: 'sp-i-12-4-block';
$sp-i-12-4-block-group: ('sp-i-12-4-block', $sp-i-12-4-block, $sp-i-12-4-block-2x, );
$sp-i-12-5-block-group-name: 'sp-i-12-5-block';
$sp-i-12-5-block-group: ('sp-i-12-5-block', $sp-i-12-5-block, $sp-i-12-5-block-2x, );
$sp-i-12-6-block-group-name: 'sp-i-12-6-block';
$sp-i-12-6-block-group: ('sp-i-12-6-block', $sp-i-12-6-block, $sp-i-12-6-block-2x, );
$sp-i-12-7-block-group-name: 'sp-i-12-7-block';
$sp-i-12-7-block-group: ('sp-i-12-7-block', $sp-i-12-7-block, $sp-i-12-7-block-2x, );
$sp-i-12-8-block-group-name: 'sp-i-12-8-block';
$sp-i-12-8-block-group: ('sp-i-12-8-block', $sp-i-12-8-block, $sp-i-12-8-block-2x, );
$sp-i-12-9-block-group-name: 'sp-i-12-9-block';
$sp-i-12-9-block-group: ('sp-i-12-9-block', $sp-i-12-9-block, $sp-i-12-9-block-2x, );
$sp-i-2-1-block-group-name: 'sp-i-2-1-block';
$sp-i-2-1-block-group: ('sp-i-2-1-block', $sp-i-2-1-block, $sp-i-2-1-block-2x, );
$sp-i-2-2-block-group-name: 'sp-i-2-2-block';
$sp-i-2-2-block-group: ('sp-i-2-2-block', $sp-i-2-2-block, $sp-i-2-2-block-2x, );
$sp-i-2-3-block-group-name: 'sp-i-2-3-block';
$sp-i-2-3-block-group: ('sp-i-2-3-block', $sp-i-2-3-block, $sp-i-2-3-block-2x, );
$sp-i-4-0-block-group-name: 'sp-i-4-0-block';
$sp-i-4-0-block-group: ('sp-i-4-0-block', $sp-i-4-0-block, $sp-i-4-0-block-2x, );
$sp-i-4-1-block-group-name: 'sp-i-4-1-block';
$sp-i-4-1-block-group: ('sp-i-4-1-block', $sp-i-4-1-block, $sp-i-4-1-block-2x, );
$sp-i-4-2-block-group-name: 'sp-i-4-2-block';
$sp-i-4-2-block-group: ('sp-i-4-2-block', $sp-i-4-2-block, $sp-i-4-2-block-2x, );
$sp-i-4-3-block-group-name: 'sp-i-4-3-block';
$sp-i-4-3-block-group: ('sp-i-4-3-block', $sp-i-4-3-block, $sp-i-4-3-block-2x, );
$sp-i-7-0-block-group-name: 'sp-i-7-0-block';
$sp-i-7-0-block-group: ('sp-i-7-0-block', $sp-i-7-0-block, $sp-i-7-0-block-2x, );
$sp-i-7-1-block-group-name: 'sp-i-7-1-block';
$sp-i-7-1-block-group: ('sp-i-7-1-block', $sp-i-7-1-block, $sp-i-7-1-block-2x, );
$sp-i-7-2-block-group-name: 'sp-i-7-2-block';
$sp-i-7-2-block-group: ('sp-i-7-2-block', $sp-i-7-2-block, $sp-i-7-2-block-2x, );
$sp-i-8-0-block-group-name: 'sp-i-8-0-block';
$sp-i-8-0-block-group: ('sp-i-8-0-block', $sp-i-8-0-block, $sp-i-8-0-block-2x, );
$sp-i-8-1-block-group-name: 'sp-i-8-1-block';
$sp-i-8-1-block-group: ('sp-i-8-1-block', $sp-i-8-1-block, $sp-i-8-1-block-2x, );
$sp-i-9-0-block-group-name: 'sp-i-9-0-block';
$sp-i-9-0-block-group: ('sp-i-9-0-block', $sp-i-9-0-block, $sp-i-9-0-block-2x, );
$sp-i-9-1-block-group-name: 'sp-i-9-1-block';
$sp-i-9-1-block-group: ('sp-i-9-1-block', $sp-i-9-1-block, $sp-i-9-1-block-2x, );
$sp-i-btn-arr-h-group-name: 'sp-i-btn-arr-h';
$sp-i-btn-arr-h-group: ('sp-i-btn-arr-h', $sp-i-btn-arr-h, $sp-i-btn-arr-h-2x, );
$sp-i-btn-arrow-group-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-group: ('sp-i-btn-arrow', $sp-i-btn-arrow, $sp-i-btn-arrow-2x, );
$sp-i-delivery-group-name: 'sp-i-delivery';
$sp-i-delivery-group: ('sp-i-delivery', $sp-i-delivery, $sp-i-delivery-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-header-arr-group-name: 'sp-i-header-arr';
$sp-i-header-arr-group: ('sp-i-header-arr', $sp-i-header-arr, $sp-i-header-arr-2x, );
$sp-i-next-mobile-group-name: 'sp-i-next-mobile';
$sp-i-next-mobile-group: ('sp-i-next-mobile', $sp-i-next-mobile, $sp-i-next-mobile-2x, );
$sp-i-prev-mobile-group-name: 'sp-i-prev-mobile';
$sp-i-prev-mobile-group: ('sp-i-prev-mobile', $sp-i-prev-mobile, $sp-i-prev-mobile-2x, );
$sp-i-price-small-group-name: 'sp-i-price-small';
$sp-i-price-small-group: ('sp-i-price-small', $sp-i-price-small, $sp-i-price-small-2x, );
$sp-i-price-group-name: 'sp-i-price';
$sp-i-price-group: ('sp-i-price', $sp-i-price, $sp-i-price-2x, );
$sp-i-special-device-group-name: 'sp-i-special-device';
$sp-i-special-device-group: ('sp-i-special-device', $sp-i-special-device, $sp-i-special-device-2x, );
$sp-i-vk-group-name: 'sp-i-vk';
$sp-i-vk-group: ('sp-i-vk', $sp-i-vk, $sp-i-vk-2x, );
$retina-groups: ($sp-i-12-0-block-group, $sp-i-12-1-block-group, $sp-i-12-2-block-group, $sp-i-12-3-block-group, $sp-i-12-4-block-group, $sp-i-12-5-block-group, $sp-i-12-6-block-group, $sp-i-12-7-block-group, $sp-i-12-8-block-group, $sp-i-12-9-block-group, $sp-i-2-1-block-group, $sp-i-2-2-block-group, $sp-i-2-3-block-group, $sp-i-4-0-block-group, $sp-i-4-1-block-group, $sp-i-4-2-block-group, $sp-i-4-3-block-group, $sp-i-7-0-block-group, $sp-i-7-1-block-group, $sp-i-7-2-block-group, $sp-i-8-0-block-group, $sp-i-8-1-block-group, $sp-i-9-0-block-group, $sp-i-9-1-block-group, $sp-i-btn-arr-h-group, $sp-i-btn-arrow-group, $sp-i-delivery-group, $sp-i-fb-group, $sp-i-header-arr-group, $sp-i-next-mobile-group, $sp-i-prev-mobile-group, $sp-i-price-small-group, $sp-i-price-group, $sp-i-special-device-group, $sp-i-vk-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
