// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-2-1-block-name: 'sp-i-2-1-block';
$sp-i-2-1-block-x: 241px;
$sp-i-2-1-block-y: 122px;
$sp-i-2-1-block-offset-x: -241px;
$sp-i-2-1-block-offset-y: -122px;
$sp-i-2-1-block-width: 56px;
$sp-i-2-1-block-height: 56px;
$sp-i-2-1-block-total-width: 297px;
$sp-i-2-1-block-total-height: 223px;
$sp-i-2-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-2-1-block: (241px, 122px, -241px, -122px, 56px, 56px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-2-1-block', );
$sp-i-2-2-block-name: 'sp-i-2-2-block';
$sp-i-2-2-block-x: 79px;
$sp-i-2-2-block-y: 66px;
$sp-i-2-2-block-offset-x: -79px;
$sp-i-2-2-block-offset-y: -66px;
$sp-i-2-2-block-width: 60px;
$sp-i-2-2-block-height: 56px;
$sp-i-2-2-block-total-width: 297px;
$sp-i-2-2-block-total-height: 223px;
$sp-i-2-2-block-image: '../image/sprite_AKENORI1.png';
$sp-i-2-2-block: (79px, 66px, -79px, -66px, 60px, 56px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-2-2-block', );
$sp-i-2-3-block-name: 'sp-i-2-3-block';
$sp-i-2-3-block-x: 157px;
$sp-i-2-3-block-y: 0px;
$sp-i-2-3-block-offset-x: -157px;
$sp-i-2-3-block-offset-y: 0px;
$sp-i-2-3-block-width: 79px;
$sp-i-2-3-block-height: 52px;
$sp-i-2-3-block-total-width: 297px;
$sp-i-2-3-block-total-height: 223px;
$sp-i-2-3-block-image: '../image/sprite_AKENORI1.png';
$sp-i-2-3-block: (157px, 0px, -157px, 0px, 79px, 52px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-2-3-block', );
$sp-i-4-0-block-name: 'sp-i-4-0-block';
$sp-i-4-0-block-x: 157px;
$sp-i-4-0-block-y: 57px;
$sp-i-4-0-block-offset-x: -157px;
$sp-i-4-0-block-offset-y: -57px;
$sp-i-4-0-block-width: 58px;
$sp-i-4-0-block-height: 58px;
$sp-i-4-0-block-total-width: 297px;
$sp-i-4-0-block-total-height: 223px;
$sp-i-4-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-0-block: (157px, 57px, -157px, -57px, 58px, 58px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-4-0-block', );
$sp-i-4-1-block-name: 'sp-i-4-1-block';
$sp-i-4-1-block-x: 0px;
$sp-i-4-1-block-y: 66px;
$sp-i-4-1-block-offset-x: 0px;
$sp-i-4-1-block-offset-y: -66px;
$sp-i-4-1-block-width: 74px;
$sp-i-4-1-block-height: 56px;
$sp-i-4-1-block-total-width: 297px;
$sp-i-4-1-block-total-height: 223px;
$sp-i-4-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-1-block: (0px, 66px, 0px, -66px, 74px, 56px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-4-1-block', );
$sp-i-4-2-block-name: 'sp-i-4-2-block';
$sp-i-4-2-block-x: 76px;
$sp-i-4-2-block-y: 0px;
$sp-i-4-2-block-offset-x: -76px;
$sp-i-4-2-block-offset-y: 0px;
$sp-i-4-2-block-width: 76px;
$sp-i-4-2-block-height: 56px;
$sp-i-4-2-block-total-width: 297px;
$sp-i-4-2-block-total-height: 223px;
$sp-i-4-2-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-2-block: (76px, 0px, -76px, 0px, 76px, 56px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-4-2-block', );
$sp-i-4-3-block-name: 'sp-i-4-3-block';
$sp-i-4-3-block-x: 241px;
$sp-i-4-3-block-y: 0px;
$sp-i-4-3-block-offset-x: -241px;
$sp-i-4-3-block-offset-y: 0px;
$sp-i-4-3-block-width: 56px;
$sp-i-4-3-block-height: 56px;
$sp-i-4-3-block-total-width: 297px;
$sp-i-4-3-block-total-height: 223px;
$sp-i-4-3-block-image: '../image/sprite_AKENORI1.png';
$sp-i-4-3-block: (241px, 0px, -241px, 0px, 56px, 56px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-4-3-block', );
$sp-i-7-0-block-name: 'sp-i-7-0-block';
$sp-i-7-0-block-x: 0px;
$sp-i-7-0-block-y: 127px;
$sp-i-7-0-block-offset-x: 0px;
$sp-i-7-0-block-offset-y: -127px;
$sp-i-7-0-block-width: 61px;
$sp-i-7-0-block-height: 55px;
$sp-i-7-0-block-total-width: 297px;
$sp-i-7-0-block-total-height: 223px;
$sp-i-7-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-7-0-block: (0px, 127px, 0px, -127px, 61px, 55px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-7-0-block', );
$sp-i-7-1-block-name: 'sp-i-7-1-block';
$sp-i-7-1-block-x: 0px;
$sp-i-7-1-block-y: 0px;
$sp-i-7-1-block-offset-x: 0px;
$sp-i-7-1-block-offset-y: 0px;
$sp-i-7-1-block-width: 71px;
$sp-i-7-1-block-height: 61px;
$sp-i-7-1-block-total-width: 297px;
$sp-i-7-1-block-total-height: 223px;
$sp-i-7-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-7-1-block: (0px, 0px, 0px, 0px, 71px, 61px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-7-1-block', );
$sp-i-7-2-block-name: 'sp-i-7-2-block';
$sp-i-7-2-block-x: 241px;
$sp-i-7-2-block-y: 61px;
$sp-i-7-2-block-offset-x: -241px;
$sp-i-7-2-block-offset-y: -61px;
$sp-i-7-2-block-width: 56px;
$sp-i-7-2-block-height: 56px;
$sp-i-7-2-block-total-width: 297px;
$sp-i-7-2-block-total-height: 223px;
$sp-i-7-2-block-image: '../image/sprite_AKENORI1.png';
$sp-i-7-2-block: (241px, 61px, -241px, -61px, 56px, 56px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-7-2-block', );
$sp-i-8-0-block-name: 'sp-i-8-0-block';
$sp-i-8-0-block-x: 111px;
$sp-i-8-0-block-y: 127px;
$sp-i-8-0-block-offset-x: -111px;
$sp-i-8-0-block-offset-y: -127px;
$sp-i-8-0-block-width: 37px;
$sp-i-8-0-block-height: 48px;
$sp-i-8-0-block-total-width: 297px;
$sp-i-8-0-block-total-height: 223px;
$sp-i-8-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-8-0-block: (111px, 127px, -111px, -127px, 37px, 48px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-8-0-block', );
$sp-i-8-1-block-name: 'sp-i-8-1-block';
$sp-i-8-1-block-x: 66px;
$sp-i-8-1-block-y: 127px;
$sp-i-8-1-block-offset-x: -66px;
$sp-i-8-1-block-offset-y: -127px;
$sp-i-8-1-block-width: 40px;
$sp-i-8-1-block-height: 48px;
$sp-i-8-1-block-total-width: 297px;
$sp-i-8-1-block-total-height: 223px;
$sp-i-8-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-8-1-block: (66px, 127px, -66px, -127px, 40px, 48px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-8-1-block', );
$sp-i-9-0-block-name: 'sp-i-9-0-block';
$sp-i-9-0-block-x: 64px;
$sp-i-9-0-block-y: 187px;
$sp-i-9-0-block-offset-x: -64px;
$sp-i-9-0-block-offset-y: -187px;
$sp-i-9-0-block-width: 13px;
$sp-i-9-0-block-height: 30px;
$sp-i-9-0-block-total-width: 297px;
$sp-i-9-0-block-total-height: 223px;
$sp-i-9-0-block-image: '../image/sprite_AKENORI1.png';
$sp-i-9-0-block: (64px, 187px, -64px, -187px, 13px, 30px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-9-0-block', );
$sp-i-9-1-block-name: 'sp-i-9-1-block';
$sp-i-9-1-block-x: 220px;
$sp-i-9-1-block-y: 57px;
$sp-i-9-1-block-offset-x: -220px;
$sp-i-9-1-block-offset-y: -57px;
$sp-i-9-1-block-width: 13px;
$sp-i-9-1-block-height: 31px;
$sp-i-9-1-block-total-width: 297px;
$sp-i-9-1-block-total-height: 223px;
$sp-i-9-1-block-image: '../image/sprite_AKENORI1.png';
$sp-i-9-1-block: (220px, 57px, -220px, -57px, 13px, 31px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-9-1-block', );
$sp-i-btn-arr-h-name: 'sp-i-btn-arr-h';
$sp-i-btn-arr-h-x: 220px;
$sp-i-btn-arr-h-y: 93px;
$sp-i-btn-arr-h-offset-x: -220px;
$sp-i-btn-arr-h-offset-y: -93px;
$sp-i-btn-arr-h-width: 13px;
$sp-i-btn-arr-h-height: 20px;
$sp-i-btn-arr-h-total-width: 297px;
$sp-i-btn-arr-h-total-height: 223px;
$sp-i-btn-arr-h-image: '../image/sprite_AKENORI1.png';
$sp-i-btn-arr-h: (220px, 93px, -220px, -93px, 13px, 20px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-btn-arr-h', );
$sp-i-btn-arrow-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-x: 82px;
$sp-i-btn-arrow-y: 187px;
$sp-i-btn-arrow-offset-x: -82px;
$sp-i-btn-arrow-offset-y: -187px;
$sp-i-btn-arrow-width: 13px;
$sp-i-btn-arrow-height: 20px;
$sp-i-btn-arrow-total-width: 297px;
$sp-i-btn-arrow-total-height: 223px;
$sp-i-btn-arrow-image: '../image/sprite_AKENORI1.png';
$sp-i-btn-arrow: (82px, 187px, -82px, -187px, 13px, 20px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-btn-arrow', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 144px;
$sp-i-fb-y: 66px;
$sp-i-fb-offset-x: -144px;
$sp-i-fb-offset-y: -66px;
$sp-i-fb-width: 8px;
$sp-i-fb-height: 18px;
$sp-i-fb-total-width: 297px;
$sp-i-fb-total-height: 223px;
$sp-i-fb-image: '../image/sprite_AKENORI1.png';
$sp-i-fb: (144px, 66px, -144px, -66px, 8px, 18px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-fb', );
$sp-i-header-arr-name: 'sp-i-header-arr';
$sp-i-header-arr-x: 0px;
$sp-i-header-arr-y: 187px;
$sp-i-header-arr-offset-x: 0px;
$sp-i-header-arr-offset-y: -187px;
$sp-i-header-arr-width: 31px;
$sp-i-header-arr-height: 36px;
$sp-i-header-arr-total-width: 297px;
$sp-i-header-arr-total-height: 223px;
$sp-i-header-arr-image: '../image/sprite_AKENORI1.png';
$sp-i-header-arr: (0px, 187px, 0px, -187px, 31px, 36px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-header-arr', );
$sp-i-price-name: 'sp-i-price';
$sp-i-price-x: 36px;
$sp-i-price-y: 187px;
$sp-i-price-offset-x: -36px;
$sp-i-price-offset-y: -187px;
$sp-i-price-width: 23px;
$sp-i-price-height: 32px;
$sp-i-price-total-width: 297px;
$sp-i-price-total-height: 223px;
$sp-i-price-image: '../image/sprite_AKENORI1.png';
$sp-i-price: (36px, 187px, -36px, -187px, 23px, 32px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-price', );
$sp-i-special-device-name: 'sp-i-special-device';
$sp-i-special-device-x: 153px;
$sp-i-special-device-y: 127px;
$sp-i-special-device-offset-x: -153px;
$sp-i-special-device-offset-y: -127px;
$sp-i-special-device-width: 39px;
$sp-i-special-device-height: 29px;
$sp-i-special-device-total-width: 297px;
$sp-i-special-device-total-height: 223px;
$sp-i-special-device-image: '../image/sprite_AKENORI1.png';
$sp-i-special-device: (153px, 127px, -153px, -127px, 39px, 29px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-special-device', );
$sp-i-vk-name: 'sp-i-vk';
$sp-i-vk-x: 197px;
$sp-i-vk-y: 127px;
$sp-i-vk-offset-x: -197px;
$sp-i-vk-offset-y: -127px;
$sp-i-vk-width: 22px;
$sp-i-vk-height: 13px;
$sp-i-vk-total-width: 297px;
$sp-i-vk-total-height: 223px;
$sp-i-vk-image: '../image/sprite_AKENORI1.png';
$sp-i-vk: (197px, 127px, -197px, -127px, 22px, 13px, 297px, 223px, '../image/sprite_AKENORI1.png', 'sp-i-vk', );
$sp-i-2-1-block-2x-name: 'sp-i-2-1-block@2x';
$sp-i-2-1-block-2x-x: 482px;
$sp-i-2-1-block-2x-y: 244px;
$sp-i-2-1-block-2x-offset-x: -482px;
$sp-i-2-1-block-2x-offset-y: -244px;
$sp-i-2-1-block-2x-width: 112px;
$sp-i-2-1-block-2x-height: 112px;
$sp-i-2-1-block-2x-total-width: 594px;
$sp-i-2-1-block-2x-total-height: 446px;
$sp-i-2-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-2-1-block-2x: (482px, 244px, -482px, -244px, 112px, 112px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-2-1-block@2x', );
$sp-i-2-2-block-2x-name: 'sp-i-2-2-block@2x';
$sp-i-2-2-block-2x-x: 158px;
$sp-i-2-2-block-2x-y: 132px;
$sp-i-2-2-block-2x-offset-x: -158px;
$sp-i-2-2-block-2x-offset-y: -132px;
$sp-i-2-2-block-2x-width: 120px;
$sp-i-2-2-block-2x-height: 112px;
$sp-i-2-2-block-2x-total-width: 594px;
$sp-i-2-2-block-2x-total-height: 446px;
$sp-i-2-2-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-2-2-block-2x: (158px, 132px, -158px, -132px, 120px, 112px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-2-2-block@2x', );
$sp-i-2-3-block-2x-name: 'sp-i-2-3-block@2x';
$sp-i-2-3-block-2x-x: 314px;
$sp-i-2-3-block-2x-y: 0px;
$sp-i-2-3-block-2x-offset-x: -314px;
$sp-i-2-3-block-2x-offset-y: 0px;
$sp-i-2-3-block-2x-width: 158px;
$sp-i-2-3-block-2x-height: 104px;
$sp-i-2-3-block-2x-total-width: 594px;
$sp-i-2-3-block-2x-total-height: 446px;
$sp-i-2-3-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-2-3-block-2x: (314px, 0px, -314px, 0px, 158px, 104px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-2-3-block@2x', );
$sp-i-4-0-block-2x-name: 'sp-i-4-0-block@2x';
$sp-i-4-0-block-2x-x: 314px;
$sp-i-4-0-block-2x-y: 114px;
$sp-i-4-0-block-2x-offset-x: -314px;
$sp-i-4-0-block-2x-offset-y: -114px;
$sp-i-4-0-block-2x-width: 116px;
$sp-i-4-0-block-2x-height: 116px;
$sp-i-4-0-block-2x-total-width: 594px;
$sp-i-4-0-block-2x-total-height: 446px;
$sp-i-4-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-0-block-2x: (314px, 114px, -314px, -114px, 116px, 116px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-0-block@2x', );
$sp-i-4-1-block-2x-name: 'sp-i-4-1-block@2x';
$sp-i-4-1-block-2x-x: 0px;
$sp-i-4-1-block-2x-y: 132px;
$sp-i-4-1-block-2x-offset-x: 0px;
$sp-i-4-1-block-2x-offset-y: -132px;
$sp-i-4-1-block-2x-width: 148px;
$sp-i-4-1-block-2x-height: 112px;
$sp-i-4-1-block-2x-total-width: 594px;
$sp-i-4-1-block-2x-total-height: 446px;
$sp-i-4-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-1-block-2x: (0px, 132px, 0px, -132px, 148px, 112px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-1-block@2x', );
$sp-i-4-2-block-2x-name: 'sp-i-4-2-block@2x';
$sp-i-4-2-block-2x-x: 152px;
$sp-i-4-2-block-2x-y: 0px;
$sp-i-4-2-block-2x-offset-x: -152px;
$sp-i-4-2-block-2x-offset-y: 0px;
$sp-i-4-2-block-2x-width: 152px;
$sp-i-4-2-block-2x-height: 112px;
$sp-i-4-2-block-2x-total-width: 594px;
$sp-i-4-2-block-2x-total-height: 446px;
$sp-i-4-2-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-2-block-2x: (152px, 0px, -152px, 0px, 152px, 112px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-2-block@2x', );
$sp-i-4-3-block-2x-name: 'sp-i-4-3-block@2x';
$sp-i-4-3-block-2x-x: 482px;
$sp-i-4-3-block-2x-y: 0px;
$sp-i-4-3-block-2x-offset-x: -482px;
$sp-i-4-3-block-2x-offset-y: 0px;
$sp-i-4-3-block-2x-width: 112px;
$sp-i-4-3-block-2x-height: 112px;
$sp-i-4-3-block-2x-total-width: 594px;
$sp-i-4-3-block-2x-total-height: 446px;
$sp-i-4-3-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-4-3-block-2x: (482px, 0px, -482px, 0px, 112px, 112px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-4-3-block@2x', );
$sp-i-7-0-block-2x-name: 'sp-i-7-0-block@2x';
$sp-i-7-0-block-2x-x: 0px;
$sp-i-7-0-block-2x-y: 254px;
$sp-i-7-0-block-2x-offset-x: 0px;
$sp-i-7-0-block-2x-offset-y: -254px;
$sp-i-7-0-block-2x-width: 122px;
$sp-i-7-0-block-2x-height: 110px;
$sp-i-7-0-block-2x-total-width: 594px;
$sp-i-7-0-block-2x-total-height: 446px;
$sp-i-7-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-7-0-block-2x: (0px, 254px, 0px, -254px, 122px, 110px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-7-0-block@2x', );
$sp-i-7-1-block-2x-name: 'sp-i-7-1-block@2x';
$sp-i-7-1-block-2x-x: 0px;
$sp-i-7-1-block-2x-y: 0px;
$sp-i-7-1-block-2x-offset-x: 0px;
$sp-i-7-1-block-2x-offset-y: 0px;
$sp-i-7-1-block-2x-width: 142px;
$sp-i-7-1-block-2x-height: 122px;
$sp-i-7-1-block-2x-total-width: 594px;
$sp-i-7-1-block-2x-total-height: 446px;
$sp-i-7-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-7-1-block-2x: (0px, 0px, 0px, 0px, 142px, 122px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-7-1-block@2x', );
$sp-i-7-2-block-2x-name: 'sp-i-7-2-block@2x';
$sp-i-7-2-block-2x-x: 482px;
$sp-i-7-2-block-2x-y: 122px;
$sp-i-7-2-block-2x-offset-x: -482px;
$sp-i-7-2-block-2x-offset-y: -122px;
$sp-i-7-2-block-2x-width: 112px;
$sp-i-7-2-block-2x-height: 112px;
$sp-i-7-2-block-2x-total-width: 594px;
$sp-i-7-2-block-2x-total-height: 446px;
$sp-i-7-2-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-7-2-block-2x: (482px, 122px, -482px, -122px, 112px, 112px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-7-2-block@2x', );
$sp-i-8-0-block-2x-name: 'sp-i-8-0-block@2x';
$sp-i-8-0-block-2x-x: 222px;
$sp-i-8-0-block-2x-y: 254px;
$sp-i-8-0-block-2x-offset-x: -222px;
$sp-i-8-0-block-2x-offset-y: -254px;
$sp-i-8-0-block-2x-width: 74px;
$sp-i-8-0-block-2x-height: 96px;
$sp-i-8-0-block-2x-total-width: 594px;
$sp-i-8-0-block-2x-total-height: 446px;
$sp-i-8-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-8-0-block-2x: (222px, 254px, -222px, -254px, 74px, 96px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-8-0-block@2x', );
$sp-i-8-1-block-2x-name: 'sp-i-8-1-block@2x';
$sp-i-8-1-block-2x-x: 132px;
$sp-i-8-1-block-2x-y: 254px;
$sp-i-8-1-block-2x-offset-x: -132px;
$sp-i-8-1-block-2x-offset-y: -254px;
$sp-i-8-1-block-2x-width: 80px;
$sp-i-8-1-block-2x-height: 96px;
$sp-i-8-1-block-2x-total-width: 594px;
$sp-i-8-1-block-2x-total-height: 446px;
$sp-i-8-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-8-1-block-2x: (132px, 254px, -132px, -254px, 80px, 96px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-8-1-block@2x', );
$sp-i-9-0-block-2x-name: 'sp-i-9-0-block@2x';
$sp-i-9-0-block-2x-x: 128px;
$sp-i-9-0-block-2x-y: 374px;
$sp-i-9-0-block-2x-offset-x: -128px;
$sp-i-9-0-block-2x-offset-y: -374px;
$sp-i-9-0-block-2x-width: 26px;
$sp-i-9-0-block-2x-height: 60px;
$sp-i-9-0-block-2x-total-width: 594px;
$sp-i-9-0-block-2x-total-height: 446px;
$sp-i-9-0-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-9-0-block-2x: (128px, 374px, -128px, -374px, 26px, 60px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-9-0-block@2x', );
$sp-i-9-1-block-2x-name: 'sp-i-9-1-block@2x';
$sp-i-9-1-block-2x-x: 440px;
$sp-i-9-1-block-2x-y: 114px;
$sp-i-9-1-block-2x-offset-x: -440px;
$sp-i-9-1-block-2x-offset-y: -114px;
$sp-i-9-1-block-2x-width: 26px;
$sp-i-9-1-block-2x-height: 62px;
$sp-i-9-1-block-2x-total-width: 594px;
$sp-i-9-1-block-2x-total-height: 446px;
$sp-i-9-1-block-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-9-1-block-2x: (440px, 114px, -440px, -114px, 26px, 62px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-9-1-block@2x', );
$sp-i-btn-arr-h-2x-name: 'sp-i-btn-arr-h@2x';
$sp-i-btn-arr-h-2x-x: 440px;
$sp-i-btn-arr-h-2x-y: 186px;
$sp-i-btn-arr-h-2x-offset-x: -440px;
$sp-i-btn-arr-h-2x-offset-y: -186px;
$sp-i-btn-arr-h-2x-width: 26px;
$sp-i-btn-arr-h-2x-height: 40px;
$sp-i-btn-arr-h-2x-total-width: 594px;
$sp-i-btn-arr-h-2x-total-height: 446px;
$sp-i-btn-arr-h-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-btn-arr-h-2x: (440px, 186px, -440px, -186px, 26px, 40px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-btn-arr-h@2x', );
$sp-i-btn-arrow-2x-name: 'sp-i-btn-arrow@2x';
$sp-i-btn-arrow-2x-x: 164px;
$sp-i-btn-arrow-2x-y: 374px;
$sp-i-btn-arrow-2x-offset-x: -164px;
$sp-i-btn-arrow-2x-offset-y: -374px;
$sp-i-btn-arrow-2x-width: 26px;
$sp-i-btn-arrow-2x-height: 40px;
$sp-i-btn-arrow-2x-total-width: 594px;
$sp-i-btn-arrow-2x-total-height: 446px;
$sp-i-btn-arrow-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-btn-arrow-2x: (164px, 374px, -164px, -374px, 26px, 40px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-btn-arrow@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 288px;
$sp-i-fb-2x-y: 132px;
$sp-i-fb-2x-offset-x: -288px;
$sp-i-fb-2x-offset-y: -132px;
$sp-i-fb-2x-width: 16px;
$sp-i-fb-2x-height: 36px;
$sp-i-fb-2x-total-width: 594px;
$sp-i-fb-2x-total-height: 446px;
$sp-i-fb-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-fb-2x: (288px, 132px, -288px, -132px, 16px, 36px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-fb@2x', );
$sp-i-header-arr-2x-name: 'sp-i-header-arr@2x';
$sp-i-header-arr-2x-x: 0px;
$sp-i-header-arr-2x-y: 374px;
$sp-i-header-arr-2x-offset-x: 0px;
$sp-i-header-arr-2x-offset-y: -374px;
$sp-i-header-arr-2x-width: 62px;
$sp-i-header-arr-2x-height: 72px;
$sp-i-header-arr-2x-total-width: 594px;
$sp-i-header-arr-2x-total-height: 446px;
$sp-i-header-arr-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-header-arr-2x: (0px, 374px, 0px, -374px, 62px, 72px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-header-arr@2x', );
$sp-i-price-2x-name: 'sp-i-price@2x';
$sp-i-price-2x-x: 72px;
$sp-i-price-2x-y: 374px;
$sp-i-price-2x-offset-x: -72px;
$sp-i-price-2x-offset-y: -374px;
$sp-i-price-2x-width: 46px;
$sp-i-price-2x-height: 64px;
$sp-i-price-2x-total-width: 594px;
$sp-i-price-2x-total-height: 446px;
$sp-i-price-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-price-2x: (72px, 374px, -72px, -374px, 46px, 64px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-price@2x', );
$sp-i-special-device-2x-name: 'sp-i-special-device@2x';
$sp-i-special-device-2x-x: 306px;
$sp-i-special-device-2x-y: 254px;
$sp-i-special-device-2x-offset-x: -306px;
$sp-i-special-device-2x-offset-y: -254px;
$sp-i-special-device-2x-width: 78px;
$sp-i-special-device-2x-height: 58px;
$sp-i-special-device-2x-total-width: 594px;
$sp-i-special-device-2x-total-height: 446px;
$sp-i-special-device-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-special-device-2x: (306px, 254px, -306px, -254px, 78px, 58px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-special-device@2x', );
$sp-i-vk-2x-name: 'sp-i-vk@2x';
$sp-i-vk-2x-x: 394px;
$sp-i-vk-2x-y: 254px;
$sp-i-vk-2x-offset-x: -394px;
$sp-i-vk-2x-offset-y: -254px;
$sp-i-vk-2x-width: 44px;
$sp-i-vk-2x-height: 26px;
$sp-i-vk-2x-total-width: 594px;
$sp-i-vk-2x-total-height: 446px;
$sp-i-vk-2x-image: '../image/sprite_AKENORI1@2x.png';
$sp-i-vk-2x: (394px, 254px, -394px, -254px, 44px, 26px, 594px, 446px, '../image/sprite_AKENORI1@2x.png', 'sp-i-vk@2x', );
$spritesheet-width: 297px;
$spritesheet-height: 223px;
$spritesheet-image: '../image/sprite_AKENORI1.png';
$spritesheet-sprites: ($sp-i-2-1-block, $sp-i-2-2-block, $sp-i-2-3-block, $sp-i-4-0-block, $sp-i-4-1-block, $sp-i-4-2-block, $sp-i-4-3-block, $sp-i-7-0-block, $sp-i-7-1-block, $sp-i-7-2-block, $sp-i-8-0-block, $sp-i-8-1-block, $sp-i-9-0-block, $sp-i-9-1-block, $sp-i-btn-arr-h, $sp-i-btn-arrow, $sp-i-fb, $sp-i-header-arr, $sp-i-price, $sp-i-special-device, $sp-i-vk, );
$spritesheet: (297px, 223px, '../image/sprite_AKENORI1.png', $spritesheet-sprites, );
$retina-spritesheet-width: 594px;
$retina-spritesheet-height: 446px;
$retina-spritesheet-image: '../image/sprite_AKENORI1@2x.png';
$retina-spritesheet-sprites: ($sp-i-2-1-block-2x, $sp-i-2-2-block-2x, $sp-i-2-3-block-2x, $sp-i-4-0-block-2x, $sp-i-4-1-block-2x, $sp-i-4-2-block-2x, $sp-i-4-3-block-2x, $sp-i-7-0-block-2x, $sp-i-7-1-block-2x, $sp-i-7-2-block-2x, $sp-i-8-0-block-2x, $sp-i-8-1-block-2x, $sp-i-9-0-block-2x, $sp-i-9-1-block-2x, $sp-i-btn-arr-h-2x, $sp-i-btn-arrow-2x, $sp-i-fb-2x, $sp-i-header-arr-2x, $sp-i-price-2x, $sp-i-special-device-2x, $sp-i-vk-2x, );
$retina-spritesheet: (594px, 446px, '../image/sprite_AKENORI1@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-2-1-block-group-name: 'sp-i-2-1-block';
$sp-i-2-1-block-group: ('sp-i-2-1-block', $sp-i-2-1-block, $sp-i-2-1-block-2x, );
$sp-i-2-2-block-group-name: 'sp-i-2-2-block';
$sp-i-2-2-block-group: ('sp-i-2-2-block', $sp-i-2-2-block, $sp-i-2-2-block-2x, );
$sp-i-2-3-block-group-name: 'sp-i-2-3-block';
$sp-i-2-3-block-group: ('sp-i-2-3-block', $sp-i-2-3-block, $sp-i-2-3-block-2x, );
$sp-i-4-0-block-group-name: 'sp-i-4-0-block';
$sp-i-4-0-block-group: ('sp-i-4-0-block', $sp-i-4-0-block, $sp-i-4-0-block-2x, );
$sp-i-4-1-block-group-name: 'sp-i-4-1-block';
$sp-i-4-1-block-group: ('sp-i-4-1-block', $sp-i-4-1-block, $sp-i-4-1-block-2x, );
$sp-i-4-2-block-group-name: 'sp-i-4-2-block';
$sp-i-4-2-block-group: ('sp-i-4-2-block', $sp-i-4-2-block, $sp-i-4-2-block-2x, );
$sp-i-4-3-block-group-name: 'sp-i-4-3-block';
$sp-i-4-3-block-group: ('sp-i-4-3-block', $sp-i-4-3-block, $sp-i-4-3-block-2x, );
$sp-i-7-0-block-group-name: 'sp-i-7-0-block';
$sp-i-7-0-block-group: ('sp-i-7-0-block', $sp-i-7-0-block, $sp-i-7-0-block-2x, );
$sp-i-7-1-block-group-name: 'sp-i-7-1-block';
$sp-i-7-1-block-group: ('sp-i-7-1-block', $sp-i-7-1-block, $sp-i-7-1-block-2x, );
$sp-i-7-2-block-group-name: 'sp-i-7-2-block';
$sp-i-7-2-block-group: ('sp-i-7-2-block', $sp-i-7-2-block, $sp-i-7-2-block-2x, );
$sp-i-8-0-block-group-name: 'sp-i-8-0-block';
$sp-i-8-0-block-group: ('sp-i-8-0-block', $sp-i-8-0-block, $sp-i-8-0-block-2x, );
$sp-i-8-1-block-group-name: 'sp-i-8-1-block';
$sp-i-8-1-block-group: ('sp-i-8-1-block', $sp-i-8-1-block, $sp-i-8-1-block-2x, );
$sp-i-9-0-block-group-name: 'sp-i-9-0-block';
$sp-i-9-0-block-group: ('sp-i-9-0-block', $sp-i-9-0-block, $sp-i-9-0-block-2x, );
$sp-i-9-1-block-group-name: 'sp-i-9-1-block';
$sp-i-9-1-block-group: ('sp-i-9-1-block', $sp-i-9-1-block, $sp-i-9-1-block-2x, );
$sp-i-btn-arr-h-group-name: 'sp-i-btn-arr-h';
$sp-i-btn-arr-h-group: ('sp-i-btn-arr-h', $sp-i-btn-arr-h, $sp-i-btn-arr-h-2x, );
$sp-i-btn-arrow-group-name: 'sp-i-btn-arrow';
$sp-i-btn-arrow-group: ('sp-i-btn-arrow', $sp-i-btn-arrow, $sp-i-btn-arrow-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-header-arr-group-name: 'sp-i-header-arr';
$sp-i-header-arr-group: ('sp-i-header-arr', $sp-i-header-arr, $sp-i-header-arr-2x, );
$sp-i-price-group-name: 'sp-i-price';
$sp-i-price-group: ('sp-i-price', $sp-i-price, $sp-i-price-2x, );
$sp-i-special-device-group-name: 'sp-i-special-device';
$sp-i-special-device-group: ('sp-i-special-device', $sp-i-special-device, $sp-i-special-device-2x, );
$sp-i-vk-group-name: 'sp-i-vk';
$sp-i-vk-group: ('sp-i-vk', $sp-i-vk, $sp-i-vk-2x, );
$retina-groups: ($sp-i-2-1-block-group, $sp-i-2-2-block-group, $sp-i-2-3-block-group, $sp-i-4-0-block-group, $sp-i-4-1-block-group, $sp-i-4-2-block-group, $sp-i-4-3-block-group, $sp-i-7-0-block-group, $sp-i-7-1-block-group, $sp-i-7-2-block-group, $sp-i-8-0-block-group, $sp-i-8-1-block-group, $sp-i-9-0-block-group, $sp-i-9-1-block-group, $sp-i-btn-arr-h-group, $sp-i-btn-arrow-group, $sp-i-fb-group, $sp-i-header-arr-group, $sp-i-price-group, $sp-i-special-device-group, $sp-i-vk-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
