-
    var socialArr = [
        "vk",
        "fb"
    ];


section.header__fixed.animated.clearfix
    .container-fluid

        +btnMenuBurger()

        .logotype
            img(
                src="./image/img-logotype.png"
                title="logotype"
                alt="logotype"
                class="logotype__img"
            )

        +socialBtn(socialArr, " header__fixed-social")