

.modal.modal_day
    .modal__container
        a(
            href="javascript:void(0);"
            title=""
            class="modal__btn btn-close"
        )
        iframe(src="https://www.youtube.com/embed/m5XozId5sPA" frameborder="0" allowfullscreen)