@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all            : return-value(dimension, all);

$c-white	        : return-value(color, white);
///
/// MAIN
///
.city {
	position: relative;

	padding-top: 160px;

	@include respond-to(large) {
		padding: {
			top: 120px;
		};
	}
	@include respond-to(medium-max) {
		padding: {
			top: 80px;
		};
	}
	@include respond-to(small-max) {
		padding: {
			top: 40px;
		};
	}


	.block__left {
		background-image: url("../image/img-city.png");
	}


	&__wrap {
		.position__wrap {
			background-image: url("../image/img-city-bg.png");
		}
	}
}