@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all            : return-value(dimension, all);

$c-white	        : return-value(color, white);
$c-dodger-blue    : return-value(color, dodger-blue);
$c-nero           : return-value(color, nero);

$f-PN_light        : return-value(fonts, PN_light);
$f-PN_extraBold   : return-value(fonts, PN_extraBold);
///
/// MAIN
///
.information {
	position: relative;

	height: 765px;

	@include respond-to(small-max) {
		height: auto;

		padding: {
			left: 15px;
			right: 15px;
		};
	}


	.container {
		padding: {
			left: 0;
			right: 0;
		};

		@include respond-to(large-max) {
			max-width: 100%;
		}


		&-fluid {
			@include respond-to(small-max) {
				padding: {
					left: 0;
					right: 0;
				};
			}
		}
	}


	&__left {
		left: 0;

		background-image: url("../image/img-information-left.png");
		background-position: left;


		.information__img-mobile {
			@include respond-to(small-max) {
				right: 0;
			}
		}
	}


	&__right {
		right: 0;

		background-image: url("../image/img-information-right.png");
		background-position: right;

		@include respond-to(small-max) {
			display: none;
		}


		&_hide {
			display: none;

			right: 0;

			background-image: url("../image/img-information-right.png");
			background-position: right;


			@include respond-to(small-max) {
				display: block;
			}
		}


		.information__img-mobile {
			@include respond-to(small-max) {
				left: 0;
			}
		}
	}


	&__left,
	&__right,
	&__right_hide {
		position: absolute;
		top: 0;

		@include mixinDimensions(50%, $w-all);

		background-repeat: no-repeat;
		background-size: cover;

		@include respond-to(small-max) {
			position: relative;

			@include mixinDimensions($w-all, 350px);
		}
		@include respond-to(extra-small) {
			height: 170px;
		}
	}


	&__bottom {
		position: absolute;
		z-index: 11;
		bottom: 110px;
		left: 0;
		right: 0;

		margin: {
			left: auto;
			right: auto;
		};

		@include mixinDimensions(83px);

		border: {
			width: 1px;
			style: dashed;
			color: $c-dodger-blue;
			radius: $w-all;
		}

		@include respond-to(small-max) {
			display: none;
		}


		&-internal {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			margin: auto;

			@include mixinDimensions(65px);

			border: {
				width: 1px;
				style: dashed;
				color: $c-dodger-blue;
				radius: $w-all;
			}
		}
	}


	&__img {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		margin: {
			left: auto;
			right: auto;
		};

		@include respond-to(small-max) {
			display: none;
		}


		&-mobile {
			display: none;

			@include respond-to(small-max) {
				display: block;
				position: absolute;

				bottom: 0;

				width: 70%;
			}
		}
	}


	&__row-left {
		padding-right: 100px;

		@include respond-to(medium-max) {
			padding-right: 15px;
		}
	}


	&__row-right {
		padding-left: 100px;

		@include respond-to(medium-max) {
			padding-left: 15px;
		}
	}


	&__row-left,
	&__row-right {
		float: left;

		@include mixinDimensions(50%, $w-all);

		padding-top: 60px;

		@include respond-to(medium-max) {
			padding-top: 30px;
		}
		@include respond-to(small-max) {
			float: none;

			width: $w-all;

			padding: {
				right: 0;
				left: 0;
				top: 30px;
				bottom: 30px;
			}
		}
	}


	&__title {
		font: {
			size: 30px;
			family: $f-PN_light;
		}
		color: $c-white;
		text-transform: uppercase;

		margin-bottom: 69px;

		@include respond-to(small-max) {
			font-size: 20px;
			color: $c-nero;

			margin-bottom: 30px;
		}


		&_bold {
			font-family: $f-PN_extraBold;
		}
	}


	&__list {
		display: flex;
		flex-direction: column;
	}


	&__item {
		display: flex;

		font-size: 18px;
		color: $c-white;

		margin-bottom: 30px;

		@include respond-to(small-max) {
			font-size: 14px;
			color: $c-nero;
		}


		&-left {
			min-width: 30px;

			padding-top: 5px;
		}
	}


	&__circle {
		display: block;

		@include mixinDimensions(15px);

		border: {
			width: 2px;
			style: solid;
			color: $c-white;
			radius: $w-all;
		}

		@include respond-to(small-max) {
			border-color: $c-dodger-blue;
		}
	}
}