@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI1";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white	        : return-value(color, white);
///
/// MAIN
///
.innovation {
	position: relative;

	padding-top: 160px;
	padding-bottom: 160px;

	@include respond-to(large) {
		padding: {
			top: 120px;
			bottom: 120px;
		};
	}
	@include respond-to(medium-max) {
		padding: {
			top: 80px;
			bottom: 50px;
		};
	}
	@include respond-to(small-max) {
		padding: {
			top: 40px;
			bottom: 10px;
		};
	}


	&__eclips {
		top: 100px;

		@include mixinDimensions(673px);

		@include respond-to(medium) {
			top: 60px;
		}
		@include respond-to(small) {
			top: 30px;

			@include mixinDimensions(450px);
		}
		@include respond-to(extra-small) {
			top: 20px;

			@include mixinDimensions(300px);
		}
	}


	&__img {
		position: relative;
		z-index: 11;

		margin: {
			left: auto;
			right: auto;
			bottom: 100px;
		}

		@include respond-to(small-max) {
			margin-bottom: 30px;
		}
	}


	&__list {
		.main__item {
			width: (100 / 4) * 1%;

			@include respond-to(large-max) {
				width: 50%;
			}
			@include respond-to(small-max) {
				width: 100%;
			}
		}
	}
}
@each $className, $iconName in
			(0, $sp-i-4-0-block-group),
			(1, $sp-i-4-1-block-group),
			(2, $sp-i-4-2-block-group),
			(3, $sp-i-4-3-block-group)
{
	.innovation__list {
		.main__item-icon-#{$className} {
			display: block;
			@include retina-sprite($iconName);
		}
	}
}