@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI1";
///
/// DECLARATION VARIABLE
///
$w-all            : return-value(dimension, all);

$c-white	        : return-value(color, white);
$c-dodger-blue    : return-value(color, dodger-blue);

$f-PN_extraBold   : return-value(fonts, PN_extraBold);
///
/// MAIN
///
.offer {
	position: relative;

	padding: {
		top: 80px;
		bottom: 60px;
	}

	color: $c-white;
	text-align: center;

	background-color: $c-dodger-blue;


	&__eclips {
		top: 40px;

		@include mixinDimensions(673px);
	}


	&__title {
		font: {
			size: 22px;
		}

		padding: {
			left: 15px;
			right: 15px;
		}


		&-sub {
			font: {
				size: 20px;
			}

			padding: {
				left: 15px;
				right: 15px;
				bottom: 15px;
			}
		}
	}


	&__img {
		position: relative;
		z-index: 11;

		margin: {
			left: auto;
			right: auto;
		}
	}


	&__price {
		font: {
			size: 30px;
			family: $f-PN_extraBold;
		}
		color: $c-white;


		&:after {
			content: "";

			display: inline-block;

			position: relative;
			top: -3px;

			margin-left: 10px;

			@include retina-sprite($sp-i-price-small-group);
		}
	}


	&__row {
		margin-top: 60px;

		height: 100px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	&__text {
		font-size: 25px;
		text-transform: uppercase;
	}


	&__wrap {
		display: flex;
		justify-content: flex-start;
		align-items: center;


		&-num {
			display: inline-block;
			vertical-align: middle;

			@include mixinDimensions(54px);

			margin-right: 20px;

			border-radius: $w-all;
			border: 2px solid $c-white;

			line-height: 52px;
			font-size: 25px;
		}
	}


	&__circle {
		margin-right: 20px;

		font-size: 25px;
	}
}