@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI1";
///
/// DECLARATION VARIABLE
///
$w-all            : return-value(dimension, all);

$c-white	        : return-value(color, white);
$c-dodger-blue    : return-value(color, dodger-blue);

$f-PN_extraBold   : return-value(fonts, PN_extraBold);
///
/// MAIN
///
.offer {
	position: relative;

	padding: {
		top: 80px;
		bottom: 60px;
	}

	color: $c-white;
	text-align: center;

	background-color: $c-dodger-blue;

	@include respond-to(small-max) {
		padding: {
			top: 40px;
			bottom: 30px;
		}
	}


	.container {
		padding: {
			left: 0;
			right: 0;
		};

		@include respond-to(large-max) {
			max-width: 100%;
		}
	}


	&__eclips {
		top: 40px;

		@include mixinDimensions(673px);

		@include respond-to(small) {
			top: 20px;

			@include mixinDimensions(450px);
		}
		@include respond-to(extra-small) {
			top: 10px;

			@include mixinDimensions(300px);
		}
	}


	&__title {
		font: {
			size: 22px;
		}

		padding: {
			left: 15px;
			right: 15px;
		}

		@include respond-to(small-max) {
			font-size: 18px;
		}


		&-sub {
			font: {
				size: 20px;
			}

			padding: {
				left: 15px;
				right: 15px;
				bottom: 15px;
			}

			@include respond-to(small-max) {
				font-size: 14px;
			}
		}
	}


	&__img {
		position: relative;
		z-index: 11;

		margin: {
			left: auto;
			right: auto;
		}
	}


	&__price {
		font: {
			size: 30px;
			family: $f-PN_extraBold;
		}
		color: $c-white;


		&:after {
			content: "";

			display: inline-block;

			position: relative;
			top: -3px;

			margin-left: 10px;

			@include retina-sprite($sp-i-price-small-group);
		}
	}


	&__row {
		margin-top: 60px;

		height: 100px;

		display: flex;
		align-items: center;
		justify-content: space-between;

		@include respond-to(large-max) {
			flex-flow: row wrap;
		}
		@include respond-to(small-max) {
			display: block;

			margin-top: 30px;

			height: auto;
		}
	}


	&__text {
		font-size: 25px;
		text-transform: uppercase;

		@include respond-to(large-max) {
			width: $w-all;
			margin-bottom: 20px;
		}
		@include respond-to(small-max) {
			font-size: 18px;
		}
	}


	&__wrap {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include respond-to(small-max) {
			width: $w-all;

			margin-bottom: 20px;

			justify-content: space-around;
		}


		&-num {
			display: inline-block;
			vertical-align: middle;

			@include mixinDimensions(54px);

			margin-right: 20px;

			border-radius: $w-all;
			border: 2px solid $c-white;

			line-height: 52px;
			font-size: 25px;

			@include respond-to(small-max) {
				font-size: 16px;

				@include mixinDimensions(34px);

				line-height: 32px;

				margin-right: 10px;
			}
		}
	}


	&__circle {
		margin-right: 20px;

		font-size: 25px;


		@include respond-to(medium-max) {
			font-size: 20px;
		}
		@include respond-to(medium-max) {
			font-size: 16px;

			margin-right: 5px;
		}
	}


	&__btn {
		@include respond-to(small-max) {
			display: block;

			margin: {
				left: auto;
				right: auto;
				bottom: 20px;
			};
		}
	}
}