@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI1";
///
/// DECLARATION VARIABLE
///
$w-all            : return-value(dimension, all);

$c-white	        : return-value(color, white);
$c-dodger-blue    : return-value(color, dodger-blue);

$f-PN_extraBold   : return-value(fonts, PN_extraBold);
///
/// MAIN
///
.price {
	min-height: 170px;

	background-color: $c-dodger-blue;


	&__row {
		max-width: 940px;
		height: 170px;

		margin: {
			left: auto;
			right: auto;
		};

		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-around;
	}


	&__text {
		font-size: 25px;
	}


	&__sum {
		font:{
			size: 70px;
			family: $f-PN_extraBold;
		}


		&:after {
			content: "";
			display: inline-block;

			margin-left: 15px;

			@include retina-sprite($sp-i-price-group);
		}
	}


	&__text,
	&__sum {
		color: $c-white;
	}
}