@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all            : return-value(dimension, all);

$c-white	        : return-value(color, white);
$c-dim-gray       : return-value(color, dim-gray);
///
/// MAIN
///
.quality {
	position: relative;

	padding-top: 160px;
	padding-bottom: 160px;

	@include respond-to(large) {
		padding: {
			top: 120px;
			bottom: 120px;
		};
	}
	@include respond-to(medium-max) {
		padding: {
			top: 80px;
			bottom: 50px;
		};
	}
	@include respond-to(small-max) {
		padding: {
			top: 40px;
		};
	}


	.container {
		padding: {
			left: 0;
			right: 0;
		};

		@include respond-to(large-max) {
			max-width: 100%;
		}
	}


	&__eclips {
		top: 100px;

		@include mixinDimensions(673px);

		@include respond-to(medium) {
			top: 40px;

			@include mixinDimensions(500px);
		}
		@include respond-to(small) {
			top: 30px;

			@include mixinDimensions(450px);
		}
		@include respond-to(extra-small) {
			top: 20px;

			@include mixinDimensions(300px);
		}


		&.block__ellipse {
			z-index: 11;
		}
	}


	&__row {
		height: 505px;

		box-shadow: 14.339px 20.479px 60px 0 rgba(18, 104, 145, 0.28);

		@include respond-to(medium-max) {
			height: 310px;
		}
		@include respond-to(small-max) {
			height: auto;

			box-shadow: none;
		}
	}


	&__left {
		background-image: url("../image/img-quality-left.png");
	}


	&__right {
		background-image: url("../image/img-quality-right.png");
	}


	&__left,
	&__right {
		float: left;

		@include mixinDimensions(50%, $w-all);

		background-size: cover;
		background-position: center;

		@include respond-to(small-max) {
			float: none;

			@include mixinDimensions($w-all, 310px);

			box-shadow: 14.339px 20.479px 60px 0 rgba(18, 104, 145, 0.28);
		}
		@include respond-to(extra-small) {
			height: 170px;
		}
	}


	&__text {
		font: {
			size: 20px;
		}
		color: $c-dim-gray;
		text-align: center;

		padding-top: 60px;

		@include respond-to(small-max) {
			font-size: 16px;
		}
		@include respond-to(extra-small) {
			padding-top: 30px;
		}


		&_hide {
			float: none;
			display: none;

			padding-bottom: 60px;

			@include respond-to(small-max) {
				display: block !important;
			}
			@include respond-to(extra-small) {
				padding-bottom: 30px;
			}
		}


		&_left {
			@include respond-to(small-max) {
				display: none;
			}
		}


		&_left,
		&_right {
			float: left;

			width: 50%;

			@include respond-to(small-max) {
				float: none;

				width: $w-all;
			}
		}
	}
}