@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all            : return-value(dimension, all);

$c-white	        : return-value(color, white);
$c-dim-gray       : return-value(color, dim-gray);
$c-silver         : return-value(color, silver);
$c-dodger-blue    : return-value(color, dodger-blue);

$f-PN_extraBold   : return-value(fonts, PN_extraBold);
$f-PN_bold        : return-value(fonts, PN_bold);
///
/// MAIN
///
.slider {
	position: relative;

	padding-top: 160px;

	@include respond-to(large) {
		padding: {
			top: 120px;
		};
	}
	@include respond-to(medium-max) {
		padding: {
			top: 80px;
		};
	}
	@include respond-to(small-max) {
		padding: {
			top: 40px;
		};
	}


	.block__left {
		background-image: url("../image/img-slider.png");
	}


	&__carousel {
		padding: {
			top: 40px;
			left: 100px;
		}

		@include respond-to(small-max) {
			padding: {
				left: 15px;
				right: 15px;
			}
		}
	}


	&__title {
		font: {
			size: 25px;
			family: $f-PN_extraBold;
		}

		@include respond-to(small-max) {
			font-size: 16px;
		}


		&-sub {
			font-size: 18px;

			@include respond-to(small-max) {
				font-size: 14px;
			}
		}
	}


	&__line {
		max-width: 80px;
		height: 2px;

		margin: {
			top: 30px;
			bottom: 30px;
			left: 0;
		};

		border: none;

		background-color: $c-dim-gray;
	}


	.owl{
		&-nav,
		&-dots {
			position: absolute;
			top: -50px;
		}


		&-nav {
			@include respond-to(medium-max) {
				width: 100%;

				left: 0;
			}
			@include respond-to(medium) {
				top: 50%;

				margin-top: -27px;
			}
			@include respond-to(small-max) {
				top: -30px;
			}
		}


		&-prev {
			@include respond-to(medium-max) {
				left: 15px;
			}
		}

		&-next {
			margin-left: 70px;

			@include respond-to(medium-max) {
				margin-left: 0;

				right: 15px;
			}
		}


		&-prev,
		&-next {
			@include respond-to(medium-max) {
				position: absolute;
			}
		}


		&-dots {
			margin-left: 300px;

			@include respond-to(medium-max) {
				margin-left: 0;
			}
			@include respond-to(small-max) {
				top: -15px;
				left: 0;
				right: 0;

				width: calc(100% - 120px);

				margin: {
					left: auto;
					right: auto;
				};

				text-align: center;
			}
		}


		&-dot {
			display: inline-block;
			vertical-align: middle;

			font: {
				size: 18px;
				family: $f-PN_bold;
			}
			color: $c-silver;

			margin-right: 20px;


			&.active {
				font-size: 22px;
				color: $c-dodger-blue;
			}
		}
	}
}