@import "../../../_mixin/mixin";
@import "../../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
///
/// MAIN
///
.btn-menu {
	float: left;
	position: relative;

	@include mixinDimensions(34px, 24px);

	margin-top: 30.5px;


	&.active {
		.btn-menu__line {
			width: 32px !important;


			&-0,
			&-1,
			&-2 {
				transition: all .5s ease-in-out;
			}


			&-0 {
				top: 11px;
				transform: rotate(-135deg);
			}
			&-1 {
				opacity: 0;
			}
			&-2 {
				bottom: 11px;
				transform: rotate(135deg);
			}
		}
	}


	&__line {
		position: absolute;
		right: 0;

		@include mixinDimensions(34px, 2px);

		background-color: $c-white;

		transition: all .3s ease-in-out;


		&-0 {
			top: 0;
		}
		&-1 {
			top: 11px;
		}
		&-2 {
			bottom: 0;
		}
	}
}

@media screen and (min-width: 1025px){
	.btn-menu {
		&:hover {
			.btn-menu__line {
				width: 23px;
				transition: all .3s ease-in-out;
			}
		}
	}
}