@import "../../_mixin/mixin";
@import "../../_function/function";

@import "../_main/_macros/btn-burger";
@import "../_macros/logotype";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-nero 			      : return-value(color, nero);
$c-black			: return-value(color, black);
///
/// MAIN
///
.header__fixed {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
	background-color: $c-black;

	@include mixinDimensions($w-all, 85px);

	text-align: center;


	.fixed & {
		position: fixed;
		z-index: 100;

		background-color: $c-nero;
	}


	&-social {
		float: right;

		margin-top: 30.5px;
	}
}