@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_variable/sprite_AKENORI1";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			      : return-value(color, white);
$c-matterhorn       : return-value(color, matterhorn);
$c-dodger-blue      : return-value(color, dodger-blue);
$c-white-smoke      : return-value(color, white-smoke);
$c-whisper          : return-value(color, whisper);
$c-silver           : return-value(color, silver);
$c-dim-gray         : return-value(color, dim-gray);
$c-neroLight        : return-value(color, neroLight);

$f-PN_bold          : return-value(fonts, PN_bold);
$f-PN_thin          : return-value(fonts, PN_thin);
/* BTN */
.btn {
	@include mixinDimensions(300px, 56px);
	line-height: 56px;

	font: {
		size: 25px;
		family: $f-PN_bold;
	}
	text-transform: uppercase;
	text-align: center;


	&-buy {
		position: relative;
		display: block;

		padding-left: 30px;

		text-align: left;


		&:after {
			content: "";

			position: absolute;
			top: 18px;
			right: 30px;

			@include retina-sprite($sp-i-btn-arrow-group);
		}
	}


	&-more {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;

		margin: {
			left: auto;
			right: auto;
		};

		text-align: center;
	}


	&_white-arr {
		background-color: $c-white;

		color: $c-matterhorn;


		&:hover {
			background-color: $c-dodger-blue;

			color: $c-white;


			&:after {
				@include retina-sprite($sp-i-btn-arr-h-group);
			}
		}
	}


	&_white {
		background-color: $c-white;

		color: $c-dodger-blue;
	}


	&_dark {
		background-color: $c-neroLight;

		color: $c-white;


		&:hover {
			background-color: $c-dodger-blue;
		}
	}


	&_white-arr,
	&_white,
	&_dark {
		transition: all .3s ease-in-out;


		&:hover {
			transition: all .3s ease-in-out;
		}
	}
}


/* MAIN TITLE */
.main__title {
	font: {
		size: 40px;
		family: $f-PN_thin;
	}
	text-align: center;
	text-transform: uppercase;

	padding-bottom: 60px;
	padding-left: 15px;
	padding-right: 15px;

	position: relative;
	z-index: 15;


	&_bold {
		font-family: $f-PN_bold;
	}
}


/* BLOCK ELLIPSE */
.block__ellipse {
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;

	margin:{
		left: auto;
		right: auto;
	}

	border: {
		radius: $w-all;
		width: 2px;
		style: dotted;
		color: $c-whisper;
	}


	&-img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		margin: auto;
	}
}


/* MAIN LIST */
.main {
	&__list {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}


	&__item {
		//flex: 1 300px;


		&-wrap {
			max-width: 270px;

			margin-left: calc(100% - 270px);
		}


		&-header {
			position: relative;

			margin-bottom: 40px;
		}


		&-number {
			position: absolute;
			top: 0;
			right: 60px;

			font: {
				size: 18px;
				family: $f-PN_bold;
			}
			color: $c-silver;
		}


		&-text {
			font-size: 20px;
			color: $c-dim-gray;
		}
	}
}


/* ROW LEFT/RIGHT */
.row {
	position: absolute;
	top: 0;
	left: 0;

	@include mixinDimensions($w-all);


	&__left {
		left: 0;
	}


	&__right {
		right: 0;
	}


	&__left,
	&__right {
		position: absolute;
		top: 0;

		overflow: hidden;
	}


	&__half {
		@include mixinDimensions(50%, $w-all);
	}
}