-
    var socialArr = [
        "vk",
        "fb"
    ];

footer.footer

    .container.clearfix

        img(
            src="./image/img-logotype.png"
            title="logotype"
            alt="logotype"
            class="logotype__img footer__logotype"
        )

        +socialBtn(socialArr, " footer__social")