
section.slider.right.clearfix

    .block.block_left
        .block__left

    .slider__wrap.position
        .position__wrap

            .owl-carousel.slider__carousel.clearfix
                -for(var i = 0; i < 3; i++)
                    .slider__item
                        p.slider__title!= "AKENORI органично сливается с</br>интерьером салона и не привлекает</br>к себе лишнее внимание"
                        hr.slider__line
                        p.slider__title-sub!= "Больше никаких громоздких устройств на лобовом стекле!"
