include _mixin/mixin


doctype html
html(lang="en")

    +headSite("Akenori_v2", linkSite.styleLink, "")


    body

        include _template/header
        include _template/difference
        include _template/special
        include _template/innovation
        include _template/price
        include _template/quality
        include _template/phone
        include _template/install
        include _template/slider
        include _template/nature
        include _template/city
        include _template/technical
        include _template/offer
        include _template/device
        include _template/information
        include _template/testimonials
        include _template/delivery
        include _template/footer

        include _template/macros/modal__night
        include _template/macros/modal__day
        include _template/macros/modal__form
        include _template/macros/modal__thank


        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])